@model LoaiTaiSanSearchModel
@{
    //page title
    ViewBag.Title = "Danh sách nhóm tài sản";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("DanhMucLoaiTaiSan");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h5 class="pull-left">
        @*@ViewBag.Title*@
        <br />
    </h5>

</div>
<div class="ui-bordered px-4 pt-4 mb-4">
    <div class="form-group row">
        <label class="col-form-label col-sm-1 text-sm-left">Từ khóa:</label>
        <div class="col-sm-4">
            <nop-editor asp-for="KeySearch" placeholder="Tên hoặc mã..." />
        </div>
        <label class="col-form-label col-sm-1 text-sm-left">Chế độ:</label>
        <div class="col-sm-4">
            <app-select asp-for="CheDoId" asp-items="Model.CheDoAvaliable" />
        </div>
        <div class="col-sm-2 text-left">
            <button type="button" class="btn btn-sm btn-primary" id="btnSearch">Tìm kiếm</button>
        </div>
    </div>

</div>
<div class="form-group row">
    <div class="col-sm-10 d-flex align-items-center">
        <div class="tle1">
            <i class=" fas fa-list-ul mr-2"></i><span id="name-list">Danh sách nhóm tài sản</span>
        </div>
    </div>
    <div class="col-sm-2 text-right">
        <a type="button" class="btn  btn-sm btn-outline-primary" href="Create">
            <i class="fa fa-plus-square"></i> Thêm mới
        </a>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="items-grid"></div>
					<script>
                        var record = 0;
                        $(document).ready(function () {
                            function SearchData() {
                                var _data = {
                                    KeySearch:$('#@Html.IdFor(model => model.KeySearch)').val(),
                                    CheDoId:$('#@Html.IdFor(model => model.CheDoId)').val()
                                };
                                addAntiForgeryToken(_data);
                                return _data;
                            }
                            $("#btnSearch").click(function () {
                                var grid = $('#items-grid').data('kendoGrid');
                                record = 0;
                                grid.dataSource.page(1); //new search. Set page size to 1
                                return false;
                            });
                             $("#@Html.IdFor(model => model.KeySearch)").keydown(function(event) {
                                if (event.keyCode === 13) {
                                    $("#btnSearch").click();
                                    return false;
                                }
                            });
                            $("#items-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "LoaiTaiSan"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: SearchData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    page: @(Model.Page),
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                dataBinding: function () {
                                    record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                                },
                                editable: {
                                    confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                                    mode: "inline"
                                },
                                detailInit: detailInit,
                                scrollable: false,
                                columns: [

                                        {
                                            title: "STT",
                                            template: "#= ++record #",
                                            width: 35,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                        },

                                    {
                                        field: 'MA',
                                        title: 'Mã nhóm tài sản',
                                        template: '#=CountSub>0?MA+" &nbsp;(<span class=\'gs-grid-has-child\' style=\'color: red;\'>"+CountSub+"</span>)":MA#'
                                    },
                                    {field: 'TEN',title: 'Tên nhóm tài sản'},
                                    { field: 'TenLoaiHinhTaiSan', title: 'Loại tài sản' },
                                    {field: 'HM_TY_LE',title: 'Tỷ lệ hao mòn'},
                                    //{field: 'KH_TY_LE',title: 'Tỷ lệ khấu hao'},
                                    {
                                        field: "ID",
                                        title: "Thao tác",
                                        width: 150,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: kendo.template($("#edit-gird-Tem").html()),
             //                           template: (dataItem) => {
             //                               if (dataItem.CountSub > 0) {
             //                                   return '<a class="btn btn-sm btn-outline-secondary" href="Edit?Id=' + dataItem.ID + '"><i class="fas fa-pencil-alt d-block"></i>Sửa</a>'
             //                               } else {
             //                                   return '<a class="btn btn-sm btn-outline-secondary" href="Edit?Id=' + dataItem.ID + '"><i class="fas fa-pencil-alt d-block"></i>Sửa</a>'
													////& nbsp < a class="btn btn-sm btn-outline-secondary" onclick = "xoaLoaiTaiSan(' + dataItem.ID + ')" > <i class="fas fa-trash-alt d-block"></i>Xóa</a >
             //                               }
             //                           }
                                    }
                                ]
                            });
                        });
                        function detailInit(e) {
                            var data = {
                                ParentId: e.data.ID,
                                CheDoId:$('#@Html.IdFor(model => model.CheDoId)').val()
                                @*KeySearch:$('#@Html.IdFor(model => model.KeySearch)').val()*@
                            };
                            addAntiForgeryToken(data);
                            $("<div/>").appendTo(e.detailCell).kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "LoaiTaiSan"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: data
                                        }
                                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                confirmation: "Bạn có chắc chắn xóa không",
                                mode: "inline"
                                },
                            detailInit: detailInit,
                            scrollable: false,
                                columns: [
                                    {
                                        title: "STT",
                                        template: "#= ++record #",
                                        width: 35,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                    },
                                    {
                                        field: 'MA',
                                        title: 'Mã nhóm tài sản',
                                        template: '#=CountSub>0?MA+" &nbsp;(<span class=\'gs-grid-has-child\' style=\'color: red;\'>"+CountSub+"</span>)":MA#'
                                    },
                                    {field: 'TEN',title: 'Tên nhóm tài sản'},
                                    { field: 'TenLoaiHinhTaiSan', title: 'Loại tài sản' },
                                    {field: 'HM_TY_LE',title: 'Tỷ lệ hao mòn'},
                                    //{field: 'KH_TY_LE',title: 'Tỷ lệ khấu hao'},
                                    {
                                        field: "ID",
                                        title: "Thao tác",
                                        width: 150,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: kendo.template($("#edit-gird-Tem").html()),
             //                           template: (dataItem) => {
             //                               console.log(dataItem);
             //                               if (dataItem.CountSub>0) {
             //                                   return '<a class="btn btn-sm btn-outline-secondary" href="Edit?Id=' + dataItem.ID + '"><i class="fas fa-pencil-alt d-block"></i>Sửa</a>'
             //                               } else {
             //                                   return '<a class="btn btn-sm btn-outline-secondary" href="Edit?Id=' + dataItem.ID + '"><i class="fas fa-pencil-alt d-block"></i>Sửa</a>'
													//& nbsp < a class="btn btn-sm btn-outline-secondary" onclick = "xoaLoaiTaiSan(' + dataItem.ID + ')" > <i class="fas fa-trash-alt d-block"></i>Xóa</a >
             //                               }
             //                           }
                                    }
                                ]
                            });
                        }
					</script>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script id="edit-gird-Tem" type="text/x-kendo-tmpl">
    <a class="btn btn-sm btn-outline-secondary" href="/LoaiTaiSan/Edit?ID=#=ID#"><i class="fas fa-pencil-alt d-block"></i>Sửa</a>&nbsp;
    <a class="btn btn-sm btn-outline-danger" onclick="xoaLoaiTaiSan(#=ID#)"><i class="fas fa-trash-alt d-block"></i>Xóa</a>-->
@*<a class="btn btn-sm btn-outline-secondary" onclick="GS_Delete('Bạn có chắc chắn muốn xóa loại tài sản này không ?',deleteLoaiTaiSan,#=ID#)"><i class="far fa-trash-alt d-block"></i>Xóa</a>*@
<!--</script>-->
@*<script>
       function xoaLoaiTaiSan(ID) {
            bootbox.confirm({
                message: "Bạn có chắc chắn xóa loại tài sản này không?",
                buttons: {
                    confirm: {
                        label: '@T("admin.common.yes")',
                    },
                    cancel: {
                        label: '@T("admin.common.no")',
                    },
                },

                callback: function (confirm) {
                    if (confirm) {
                        $.ajax({
                            type: "POST",
                            url: "/LoaiTaiSan/Delete/" + ID,
                            success: function (data) {
                                
                                    if (data.Code == '00') {
                                        var grid = $('#items-grid').data('kendoGrid');
                                        grid.dataSource.page(grid.dataSource.page());
                                        ShowSuccessMessage(data.Message);
                                    } else {
                                        ShowErrorMessage(data.Message);
                                    }
                                }
                            })
                    }
                    return;
                }
            })

        }




    </script>*@


<script>

    function deleteLoaiTaiSan(ID) {
        $.ajax({
            url: "/LoaiTaiSan/Delete/" + ID,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",

            success: function (data) {
                if (data.Code == '00') {
                    var grid = $('#items-grid').data('kendoGrid');
                    grid.dataSource.page(grid.dataSource.page());
                    ShowSuccessMessage(data.Message);
                } else {
                    ShowErrorMessage(data.Message);
                }
            },

        });

    }

</script>
<script id="edit-gird-Tem" type="text/x-kendo-tmpl">
    <a class="btn btn-sm btn-outline-secondary " href="/LoaiTaiSan/Edit?ID=#=ID#"><i class="fas fa-pencil-alt d-block"></i>Sửa</a>&nbsp;
    <a class="btn btn-sm btn-outline-secondary  #if(CountSub>0){# disabled #}#" onclick="GS_Delete('Bạn có chắc chắn muốn xóa loại tài sản này không ?',deleteLoaiTaiSan,#=ID#)"><i class="far fa-trash-alt d-block"></i>Xóa</a>
</script>
