@using GS.Web.Controllers;
@model GS.Web.Models.CCDC.CongCuSearchModel
@{
    //page title
    ViewBag.Title = "Danh sách lô công cụ, dụng cụ";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("NhapLoCongCuDungCu");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h5 class="pull-left">
        @ViewBag.Title
    </h5>

</div>
<div class="ui-bordered px-4 pt-4 mb-4" >
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left">Từ khóa:</label>
        <div class="col-sm-10">
            <nop-editor asp-for="KeySearch" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left">Ngày nhập từ:</label>
        <div class="col-sm-4">
            <nop-editor asp-for="NgayNhapTu" />
        </div>
        <label class="col-form-label col-sm-2 text-sm-left">Ngày nhập đến:</label>
        <div class="col-sm-4">
            <nop-editor asp-for="NgayNhapDen" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left">Loại CCDC:</label>
        <div class="col-sm-4">
            <nop-select asp-for="LoaiCongCu" asp-items="Model.ListLoaiCongCu" asp-filter="true"/>
        </div>
        <label class="col-form-label col-sm-2 text-sm-left">Số chứng từ:</label>
        <div class="col-sm-4">
            <nop-editor asp-for="SoChungTu" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-8">         
        </div>
        <div class="col-sm-4 text-right">
            <button type="button" class="btn btn-sm btn-primary" id="btnSearch">Tìm kiếm</button>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10 d-flex align-items-center">
        <div class="tle1">
            <i class=" fas fa-list-ul mr-2"></i><span id="name-list">Danh sách lô công cụ, dụng cụ</span>
        </div>
    </div>
    <div class="col-sm-2 text-right">
        <a type="button" class="btn  btn-sm btn-outline-primary" href="Create">
            <i class="fa fa-plus-square" style="margin-right:5px;"></i>Thêm mới
        </a>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="items-grid"></div>
                    <script>
                        var record = 0;
                        var recordCC = 0;
                        $(document).ready(function () {
                            function SearchData() {
                                var _data = {
                                    KeySearch: $('#@Html.IdFor(model => model.KeySearch)').val(),
                                    NgayNhapTu: $('#@Html.IdFor(model => model.NgayNhapTu)').val(),
                                    NgayNhapDen: $('#@Html.IdFor(model => model.NgayNhapDen)').val(),
                                    SoChungTu: $('#@Html.IdFor(model => model.SoChungTu)').val(),
                                    LoaiCongCu: $('#@Html.IdFor(model => model.LoaiCongCu)').val(),
                                    Page: $("#items-grid").data("kendoGrid").dataSource.page(),
                                    PageSize: $("#items-grid").data("kendoGrid").dataSource.pageSize(),              
                                };
                                addAntiForgeryToken(_data);
                                return _data;
                            }
                            $("#btnSearch").click(function () {
                                var grid = $('#items-grid').data('kendoGrid');
                                recordCC = 0;
                                grid.dataSource.page(1); //new search. Set page size to 1
                                return false;
                            });
                            $("#@Html.IdFor(model => model.KeySearch)").keydown(function(event) {
                                if (event.keyCode === 13) {
                                    $("#btnSearch").click();
                                    return false;
                                }
                            });
                            $("#items-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("ListXuatNhap", "CongCu"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: SearchData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    page: @(Model.Page),
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                                    mode: "inline"
                                },
                                 dataBinding: function() {
                                      record = (this.dataSource.page() -1) * this.dataSource.pageSize();
                                 },
                                detailInit: detailInit,
                                scrollable: false,
                                columns: [
                                     {
                                      title: "STT",
                                      template: "#= ++record #",
                                      width: 50,
                                      headerAttributes: { style: "text-align:center" },
                                      attributes: { style: "text-align:center" },
                                    },
                                    {
                                        field: 'MA', title: 'Mã lô CCDC',
                                        template: '#=SoCongCuText>0?MA+" &nbsp;(<span class=\'gs-grid-has-child\' style=\'color: red;\'>"+SoCongCuText+"</span>)":MA#'
                                    },
                                    { field: 'TEN', title: 'Tên lô CCDC' },
                                    { field: 'NgayXuatNhapText',attributes: { style: "text-align:center" }, title: 'Ngày nhập lô' },
                                    { field: 'ChungTuSoText',attributes: { style: "text-align:right" }, title: 'Số chứng từ' },
                                    { field: 'ChungTuNgayText',attributes: { style: "text-align:center" }, title: 'Ngày chứng từ ngày' },
                                    {
                                        field: "GUID",
                                        title: "Thao tác",
                                        width: 150,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '#if(IsEdit){#<a  class="btn icon-btn btn-sm btn-outline-secondary" href="Edit?Guid=#=GUID#" title="Sửa">Sửa</a>&nbsp<button class="btn icon-btn btn-sm btn-outline-danger" href="javascript:void(0)" onclick="XoaCongCu(#=ID#)">Xóa</button>#}#'
                                    }
                                ]
                            });
                            
                            function detailInit(e) {
                                recordCC = 0;
                                var data = {
                                    XuatNhapGuid: e.data.GUID,
                                    TreeLevel: 0,
                                    //IsSearchSub: true
                                };

                                addAntiForgeryToken(data);
                                $('<div></div>').appendTo(e.detailCell).kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "CongCu"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: data
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        this.cancelChanges();
                                    },
                                    page: @(Model.Page),
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                confirmation: "Bạn có chắc chắn xóa",
                                mode: "inline"
                                    },
                                 dataBinding: function() {
                                      recordCC = (this.dataSource.page() -1) * this.dataSource.pageSize();
                                 },
                                scrollable: false,
                                    columns: [
                                     {
                                      title: "STT",
                                      template: "#= ++recordCC #",
                                      width: 50,
                                      headerAttributes: { style: "text-align:center" },
                                      attributes: { style: "text-align:center" },
                                    },
                                    { field: 'MA', title: 'Mã CCDC' },
                                    { field: 'TEN', title: 'Tên CCDC' },
                                    { field: 'NhomCongCuText', title: 'Nhóm CCDC' },
                                    { field: 'SO_LUONG', title: 'Số lượng' },
                                    { field: 'DonGiaText', title: 'Đơn giá' },
                                    { field: 'ThanhTienText', title: 'Thành tiền' }
                                    ]
                                });
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function XoaCongCu(ID) {
        bootbox.confirm({
            message: "Bạn có chắc chắn xóa lô công cụ, dụng cụ này không?",
            buttons: {
                confirm: {
                    label: '@T("admin.common.yes")',
                },
                cancel: {
                    label: '@T("admin.common.no")',
                },
            },
            //required: true,
            //placeholder: "Lý do từ chối tài sản(*)",
            callback: function (confirm) {
                if (confirm) {
                    var data = {
                        id: ID
                    }
                    $.ajax({
                        type: "POST",
                        data: data,
                        url: "/CongCu/Delete",
                        success: function (data) {
                            if (CheckValidMessageReturn(data)) {
                                ShowSuccessMessage(data.Message);
                                var pageindex = $('#items-grid').data('kendoGrid').dataSource.page();
                                var grid = $('#items-grid').data('kendoGrid');
                                grid.dataSource.page(pageindex);
                            }
                            else {
                                ShowErrorMessage(data.Message)
                            }
                        }
                    })
                }
                return;
            }
        })
    }
</script>


