@model YeuCauModel
@{
	//page title
	ViewBag.Title = "Giảm tài sản";
	//active menu item (system name)
	Html.SetActiveMenuItemSystemName("GiamTaiSan");
	var _str = "";
	if (Model.LOAI_HINH_TAI_SAN_ID == (int)enumLOAI_HINH_TAI_SAN.DAT)
	{
		_str = "Điều chuyển nhà theo đất";
	}
	if (Model.LOAI_HINH_TAI_SAN_ID == (int)enumLOAI_HINH_TAI_SAN.NHA)
	{
		_str = "Điều chuyển đất theo nhà";
	}
	string _strBool = "";
}
<input asp-for="strTaiSanIds" type="hidden" />
<input asp-for="LOAI_BIEN_DONG_ID" type="hidden" />
<div class="card mb-4">
	<h6 class="card-header">
		Giảm  tài sản
		<button type="button" class="btn btn-sm btn-default btnClose" onclick="window.location.href = '/YeuCau/ListBienDongTaiSan?loaiLyDoId=@Model.LOAI_BIEN_DONG_ID';" style="float:right; margin-right: 5px;">
			<i class="ion ion-ios-close-circle-outline"></i>
			Đóng
		</button>
		<button type="button" class="btn btn-sm btn-primary btnAdd" style="float:right;margin-right:5px;">
			<i class="fas fa-save" style="margin-right:5px;"></i>
			Lưu
		</button>
	</h6>
	<div class="card-body">
		@*<div class="content">
			<div class="form-horizontal">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-body">
							<div id="items-grid"></div>
							<script>
						var recordChonTS = 0;
						$(document).ready(function () {
							function SearchData() {
								var _data = {
									TRANG_THAI_ID: $('#@Html.IdFor(model => model.TRANG_THAI_ID)').val(),
									DON_VI_BO_PHAN_ID: $('#@Html.IdFor(model => model.DON_VI_BO_PHAN_ID)').val(),
									LOAI_HINH_TAI_SAN_ID: $('#@Html.IdFor(model => model.LOAI_HINH_TAI_SAN_ID)').val(),
									QUYET_DINH_SO: $('#@Html.IdFor(model=>model.QUYET_DINH_SO)').val(),
									CHUNG_TU_SO: $('#@Html.IdFor(model=>model.CHUNG_TU_SO)').val(),
                                    pageIndex: $('#@Html.IdFor(model => model.pageIndex)').val(),
									isIgnoreTraLai: false,
								};
								addAntiForgeryToken(_data);
								return _data;
							}
							$("#btnSearch").click(function () {
								if (checkValidate())
								{
									var grid = $('#items-grid').data('kendoGrid');
									recordChonTS = 0;
									grid.dataSource.page(1); //new search. Set page size to 1
									return false;
								}
								return false;
							});
							var grid = $("#items-grid").kendoGrid({
								dataSource: {
									type: "json",
									transport: {
										read: {
											url: "@Html.Raw(Url.Action("ListTaiSanGiamNhieu", "TaiSan"))",
											type: "POST",
											dataType: "json",
											data: SearchData
										}
									},
									schema: {
										data: "Data",
										total: "Total",
										errors: "Errors"
									},
									error: function(e) {
										display_kendoui_grid_error(e);
										// Cancel the changes
										this.cancelChanges();
									},
                                    page:1,
									pageSize: 5,
									serverPaging: true,
									serverFiltering: true,
									serverSorting: true
								},

								dataBinding: function() {
									  recordChonTS = (this.dataSource.page() -1) * this.dataSource.pageSize();
								},
								pageable: {
									refresh: true,
									input: true,
									pageSizes: 5,
									@await Html.PartialAsync("_GridPagerMessages")
								},
								editable: {
									confirmation: "@T("Bạn có chắc chắn xóa không ?")",
									mode: "inline"
								},
								scrollable: false,
								columns: [
									{
									  title: "STT",
									  template: "#= ++recordChonTS#",
									  width: 47,
									  headerAttributes: { style: "text-align:center" },
									  attributes: { style: "text-align:center" },
									},
									{
										field: "TAI_SAN_MA",
										title: "Mã tài sản",
										headerAttributes: { style: "text-align:center" },
										attributes: { style: "white-space: nowrap" },
										template: function (dataItem) {
											return "<a class='link_href' href='javascript:openViewThongTinYeuCau(" + dataItem.ID +"," + dataItem.BDorYC +  ")'>" + dataItem.TAI_SAN_MA + "</a>";
										}
									},
									{
										field: "TAI_SAN_TEN", title: "Tên tài sản",
										headerAttributes: { style: "text-align:center" },
										template: function (dataItem) {
                                            return "<a class='link_href' href='javascript:openViewThongTinYeuCau(" + dataItem.ID +"," + dataItem.BDorYC +  ")'>" + dataItem.TAI_SAN_TEN + "</a>";
										}
									},
								//{ field: "NguyenGiaVNStringNumber", title: "Nguyên giá" },
									{
										field: "TenLoaiTaiSan",
										title: "Loại tài sản",
										headerAttributes: { style: "text-align:center" },
									},
									{
										field: "TenDonViBoPhan",
										title: "Bộ phận sử dụng",
										headerAttributes: { style: "text-align:center" },
									},
									{
										field: "TenLyDoBienDong",
										title: "Lý do biến động",
										headerAttributes: { style: "text-align:center" },
									},


								//{field: "NGAY_SU_DUNG",title: "Ngày sử dụng",type: "Date", format: "{0:dd/MM/yyyy}"},
									{
										field: "NGAY_BIEN_DONG",
										title: "Ngày biến động", type: "Date",
										headerAttributes: { style: "text-align:center" },
										attributes: { style: "text-align:center" },
										format: "{0:dd/MM/yyyy}",
									},
									{
										field: "TenTrangThai",
										title: "Trạng thái",
										headerAttributes: { style: "text-align:center" },
									},
								//{field: "taisan.TenBoPhanSuDung",title: "Bộ phận sử dụng"},
								{
									field: "ID",
									title: "Thao tác",
									width: 100,
									headerAttributes: { style: "text-align:center" },
									attributes: { style: "text-align:center" },
									template: function (dataItem) {
										if (dataItem.TRANG_THAI_ID !=@((int)GS.Core.Domain.NghiepVu.enumTRANG_THAI_YEU_CAU.DA_DUYET)) {
											switch (dataItem.LOAI_BIEN_DONG_ID)
											{
												case @((int)GS.Core.Domain.DanhMuc.enumLOAI_LY_DO_TANG_GIAM.BIEN_DONG_TANG_GIA_TRI):
													return "<a class='btn icon-btn btn-sm btn-outline-secondary' href='/YeuCau/CreateOrUpdateTangNguyenGia?guidYC=" + dataItem.GUID + "&pageIndex="+dataItem.pageIndex +"' title='Sửa thông tin biến động'>Sửa</a>" + "&nbsp;" + "<a class='btn  icon-btn btn-sm btn-outline-danger' href='javascript:deleteYeuCauBienDong(" + dataItem.ID + ")' title='Xóa biến động'>Xóa</a>";
												case @((int)GS.Core.Domain.DanhMuc.enumLOAI_LY_DO_TANG_GIAM.BIEN_DONG_GIAM_GIA_TRI):
													return "<a class='btn icon-btn btn-sm btn-outline-secondary' href='/YeuCau/CreateOrUpdateGiamNguyenGia?guidYC=" + dataItem.GUID + "&pageIndex="+dataItem.pageIndex +"' title='Sửa thông tin biến động'>Sửa</a>" + "&nbsp;" + "<a class='btn icon-btn btn-sm btn-outline-danger' href='javascript:deleteYeuCauBienDong(" + dataItem.ID + ")' title='Xóa biến động'>Xóa</a>";
												case @((int)GS.Core.Domain.DanhMuc.enumLOAI_LY_DO_TANG_GIAM.GIAM_TOAN_BO):
													return "<a class='btn icon-btn btn-sm btn-outline-secondary' href='/YeuCau/GiamTaiSan?guidYC=" + dataItem.GUID +"&pageIndex="+dataItem.pageIndex +"' title='Sửa thông tin biến động'>Sửa</a>" + "&nbsp;" + "<a class='btn icon-btn btn-sm btn-outline-danger' href='javascript:deleteYeuCauBienDong(" + dataItem.ID + ")' title='Xóa biến động'>Xóa</a>";
												case @((int)GS.Core.Domain.DanhMuc.enumLOAI_LY_DO_TANG_GIAM.THAY_DOI_THONG_TIN):
													return "<a class='btn icon-btn btn-sm btn-outline-secondary' href='/ThayDoiThongTin/UpdateThayDoiThongTin?guid=" + dataItem.GUID + "&pageIndex="+dataItem.pageIndex +"' title='Sửa thông tin biến động'>Sửa</a>" + "&nbsp;" + "<a class='btn icon-btn btn-sm btn-outline-danger' href='javascript:deleteYeuCauBienDong(" + dataItem.ID + ")' title='Xóa biến động'>Xóa</a>";
												case @((int)GS.Core.Domain.DanhMuc.enumLOAI_LY_DO_TANG_GIAM.GIAM_DIEU_CHUYEN_MOT_PHAN):
													return "<a class='btn icon-btn btn-sm btn-outline-secondary' href='/YeuCau/UpdateDieuChuyenTungPhan?guid=" + dataItem.GUID +"&pageIndex="+dataItem.pageIndex +"' title='Sửa thông tin biến động'>Sửa</a>" + "&nbsp;" + "<a class='btn icon-btn btn-sm btn-outline-danger' href='javascript:deleteYeuCauBienDong(" + dataItem.ID + ")' title='Xóa biến động'>Xóa</a>";
												default:
													return "";
											}
										} else {
											return "";
										}

									}
								}
							]
							}).data("kendoGrid");
						});

						function checkValidate() {
							let res = false;
							if (
								checkValidateDateFormat('#FromDate', 'FromDate', 'Phải nhập đúng định dạng ngày') &&
								checkValidateDateFormat('#ToDate', 'ToDate', 'Phải nhập đúng định dạng ngày') &&
								checkValidateFromDateToDate('#FromDate', '#ToDate', 'FromDate', 'Từ ngày phải nhỏ hơn đến ngày'))
							{
								res = true;
							}
							return res;
						}
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>*@
		<div class="gs-form-group  ">
			<h6>Thông tin giảm tài sản</h6>
			<div class="form-group row">
				<label class="col-form-label col-sm-2">Số quyết định</label>
				<div class="col-sm-6">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Số</span>
						</div>
						<nop-editor asp-for="QUYET_DINH_SO" />
					</div>
				</div>
				<div class="col-sm-4">
					<nop-editor asp-for="QUYET_DINH_NGAY" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-sm-2">Số chứng từ/hóa đơn</label>
				<div class="col-sm-6">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Số</span>
						</div>
						<nop-editor asp-for="CHUNG_TU_SO" />
					</div>
				</div>
				<div class="col-sm-4">
					<nop-editor asp-for="CHUNG_TU_NGAY" /><br />
					<span asp-validation-for="CHUNG_TU_NGAY"></span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-sm-2 text-required">Lý do giảm</label>
				<div class="col-sm-4">
					<app-select asp-for="LY_DO_BIEN_DONG_ID" asp-items="@Model.LyDoTangAvailable" />
					<span asp-validation-for="LY_DO_BIEN_DONG_ID"></span>
				</div>
				<label class="col-form-label col-sm-2 text-required">Ngày giảm</label>
				<div class="col-sm-4">
					<nop-editor asp-for="NGAY_BIEN_DONG" /><br />
					<span asp-validation-for="NGAY_BIEN_DONG"></span>
				</div>
			</div>
			<div id="DonViNhanDieuChuyen">
				<div class="form-group row">
					<label class="col-form-label col-sm-2 text-required">Đơn vị nhận điều chuyển</label>
					<div class="col-sm-8">
						<nop-editor asp-for="DonViNhanDieuChuyenTen" asp-disabled="true" />
						<span asp-validation-for="DonViNhanDieuChuyenId"></span>
					</div>
					<div class="col-sm-2" style="text-align:right">
						<button type="button" class="btn btn-xs btn-outline-primary" data-toggle="modal" data-target="#globalModalIframe" data-title="Chọn đơn vị" data-src="/GiamDieuChuyen/_ChonDonViDieuChuyen?isStayInPage=true">
							<i class="fab fa-sistrix"></i>
							Chọn đơn vị
						</button>
					</div>
					@Html.HiddenFor(c => c.DonViNhanDieuChuyenId)

				</div>
			</div>
			<div id="HinhThucThanhLy">
				<div class="form-group row">
					<label class="col-form-label col-sm-2 text-required">Hình thức </label>
					<div class="col-sm-10">
						<app-select asp-for="HINH_THUC_XU_LY_ID" asp-items="Model.ddlPhuongAnXuLy" />
						<span asp-validation-for="YCCTModel.HINH_THUC_XU_LY_ID"></span>
					</div>
					<div class="col-sm-2"></div>
					<label class="custom-control custom-radio col-sm-4 gs-mg-top-10">
						@Html.RadioButtonFor(c => c.YCCTModel.IS_BAN_THANH_LY, false, new { @class = "custom-control-input", @id = "YCCTModel_CHUA_BAN_THANH_LY" })
						<span class="custom-control-label"><small>Chưa thực hiện bán, thanh lý</small></span>
					</label>
					<label class="custom-control custom-radio col-sm-4 gs-mg-top-10">
						@Html.RadioButtonFor(c => c.YCCTModel.IS_BAN_THANH_LY, true, new { @class = "custom-control-input" })
						<span class="custom-control-label"><small>Đã thực hiện bán, thanh lý</small></span>
					</label>
				</div>

				<div class="form-group row ThuTuGiam" id="ThuTuGiam">
					<label class="col-form-label col-sm-2 text-required">Số tiền thu được</label>
					<div class="col-sm-4">
						<nop-editor asp-for="YCCTModel.PHI_THU" asp-min-number="0" asp-max-number="@Model.YCCTModel.NGUYEN_GIA_CU" asp-dvt="c" />
						<span asp-validation-for="YCCTModel.PHI_THU"></span>
					</div>
					<label class="col-form-label col-sm-2">Chi phí xử lý tài sản</label>
					<div class="col-sm-4">
						<nop-editor asp-for="YCCTModel.PHI_BU_DAP" asp-min-number="0" asp-max-number="@Model.YCCTModel.NGUYEN_GIA_CU" asp-dvt="c" />
						<span asp-validation-for="YCCTModel.PHI_BU_DAP"></span>
					</div>
				</div>
				<div class="form-group row ThuTuGiam">
					<label class="col-form-label col-sm-2">Nộp tài khoản tạm giữ</label>
					<div class="col-sm-4">
						<nop-editor asp-for="YCCTModel.PHI_NOP_NGAN_SACH" asp-min-number="0" asp-max-number="@Model.YCCTModel.NGUYEN_GIA_CU" asp-dvt="c" />
						<span asp-validation-for="YCCTModel.PHI_NOP_NGAN_SACH"></span>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-sm-2">Diễn giải</label>
				<div class="col-sm-10">
					<nop-textarea asp-for="GHI_CHU" />
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<button type="button" class="btn btn-sm btn-default btnClose" onclick="window.location.href = '/YeuCau/ListBienDongTaiSan?loaiLyDoId=@Model.LOAI_BIEN_DONG_ID';" style="float:right; margin-right: 5px;">
			<i class="ion ion-ios-close-circle-outline"></i>
			Đóng
		</button>
		@if (Model.TRANG_THAI_ID != (int)GS.Core.Domain.NghiepVu.enumTRANG_THAI_YEU_CAU.DA_DUYET)
		{
			if (Model.ID > 0)
			{
				<span onclick="deleteYeuCauBienDong()" class="btn btn-sm btn-danger" style="float:right;margin-right: 5px;">
					<i class="fas fa-trash"></i>
					Xóa
				</span>
			}
		}
		<button type="button" class="btn btn-sm btn-primary btnAdd" style="float:right;margin-right:5px;">
			<i class="fas fa-save" style="margin-right:5px;"></i>
			Lưu
		</button>
	</div>
</div>
<script>
	$(document).ready(function () {
		// event change ly do bien dong
		var DDlLyDoBienDong = $('#LY_DO_BIEN_DONG_ID')
			.data("kendoDropDownList");
		DDlLyDoBienDong.bind("change", onChangeLyDoBienDong);
		var LDBDId = $('#LY_DO_BIEN_DONG_ID').val();
		@if (Model.ID<=0) {
			<text>LyDoBienDongChange(LDBDId); </text>
		}
		//---------
		$('input[type=radio][name="YCCTModel.IS_BAN_THANH_LY"]').change(ChangeDaBanThanhLy);
		DDlLyDoBienDong.trigger("change");
		$('input[type=radio][name="YCCTModel.IS_BAN_THANH_LY"]').change();
		$(".btnAdd").click(function () {

			var _data = {
				ID: $('#@Html.IdFor(c => c.ID)').val(),
				LY_DO_BIEN_DONG_ID: $('#@Html.IdFor(c => c.LY_DO_BIEN_DONG_ID)').val(),
				LOAI_BIEN_DONG_ID: $('#@Html.IdFor(c => c.LOAI_BIEN_DONG_ID)').val(),
				LOAI_TAI_SAN_ID: $('#@Html.IdFor(c => c.LOAI_TAI_SAN_ID)').val(),
				LOAI_HINH_TAI_SAN_ID: $('#@Html.IdFor(c => c.LOAI_HINH_TAI_SAN_ID)').val(),
				TAI_SAN_MA: $('#@Html.IdFor(c => c.TAI_SAN_MA)').val(),
				TAI_SAN_TEN: $('#@Html.IdFor(c => c.TAI_SAN_TEN)').val(),
				TAI_SAN_ID: $('#@Html.IdFor(c => c.TAI_SAN_ID)').val(),
				NGAY_BIEN_DONG: $('#@Html.IdFor(c => c.NGAY_BIEN_DONG)').val(),
				QUYET_DINH_SO: $('#@Html.IdFor(c => c.QUYET_DINH_SO)').val(),
				QUYET_DINH_NGAY: $('#@Html.IdFor(c => c.QUYET_DINH_NGAY)').val(),
				CHUNG_TU_SO: $('#@Html.IdFor(c => c.CHUNG_TU_SO)').val(),
				CHUNG_TU_NGAY: $('#@Html.IdFor(c => c.CHUNG_TU_NGAY)').val(),
				GHI_CHU: $('#@Html.IdFor(c => c.GHI_CHU)').val(),
				pageIndex: $("#@Html.IdFor(c=>c.pageIndex)").val(),
				DonViNhanDieuChuyenId: $("#DonViNhanDieuChuyenId").val(),
				strTaiSanIds: $("#strTaiSanIds").val(),
				YCCTModel: {
					PHI_THU: $("#YCCTModel_PHI_THU").val(),
                    PHI_BU_DAP: $("#YCCTModel_PHI_BU_DAP").val(),
                    PHI_NOP_NGAN_SACH: $("#YCCTModel_PHI_NOP_NGAN_SACH").val(),
                    //PHI_KHAC: $("#YCCTModel_PHI_KHAC").val(),
					IS_BAN_THANH_LY: $("input[name='YCCTModel.IS_BAN_THANH_LY']:checked").val(),
					HINH_THUC_XU_LY_ID: $("#HINH_THUC_XU_LY_ID").val(),
					DON_VI_NHAN_DIEU_CHUYEN_ID: $("#DonViNhanDieuChuyenId").val(),
					DIEU_CHUYEN_KEM_THEO: $("#YCCTModel_DIEU_CHUYEN_KEM_THEO").is(':checked'),
				}
			}
			let url = "/YeuCau/GiamNhieuTaiSan";
			let ajaxPostInserGiamTaiSan = ajaxPost(_data, url, null);
			ajaxPostInserGiamTaiSan.done(function (data) {
				if (CheckValidMessageReturn(data)) {
							ShowSuccessMessage(data.Message);
							location.href = '/YeuCau/ListBienDongTaiSan?loaiLyDoId=' + @Model.LOAI_BIEN_DONG_ID + '&pageIndex=' + _data.pageIndex;
						}
            }).fail(function (jqXHR, textStatus, errorThrown) {
                // If fail
                console.log(textStatus + ': ' + errorThrown);
                ShowErrorMessage('Có lỗi xảy ra');
                $(this).removeClass('disabled');
            });
		});


	});
	function ChangeDaBanThanhLy(e) {
		let this_value = $('input:radio[name="YCCTModel.IS_BAN_THANH_LY"]:checked').val();

		if (this_value === 'False') {
			$(".ThuTuGiam").hide();
			$("#YCCTModel_PHI_THU").data("kendoNumericTextBox").value(0);
			$("#YCCTModel_PHI_BU_DAP").data("kendoNumericTextBox").value(0);
			$("#YCCTModel_PHI_NOP_NGAN_SACH").data("kendoNumericTextBox").value(0);
		}
		else {
			$(".ThuTuGiam").show();
		}
	}
	function onChangeLyDoBienDong() {
		var _strVal = this.value();
		LyDoBienDongChange(parseFloat(_strVal));
		if (parseFloat(_strVal) != @((int)enumLY_DO_GIAM_TOAN_BO.DIEU_CHUYEN)) {
			var textbox = $("#DonViNhanDieuChuyenTen").data("kendoTextBox");
			if (textbox) {
				textbox.value("");
			}
			$("#DonViNhanDieuChuyenId").val("");
		}
	}
	function LyDoBienDongChange(LyDoId) {
		if (LyDoId == @((int)enumLY_DO_GIAM_TOAN_BO.DIEU_CHUYEN)) {
			$("#DonViNhanDieuChuyen").show();
		} else {
			$("#DonViNhanDieuChuyen").hide();
		}
		if (LyDoId == @((int)enumLY_DO_GIAM_TOAN_BO.BAN_CHUYEN_NHUONG) ||
			LyDoId == @((int)enumLY_DO_GIAM_TOAN_BO.THANH_LY) )
		{
			@{
				_strBool = Model.YCCTModel.IS_BAN_THANH_LY.ToString();
			}
			$("#DonViNhanDieuChuyen").hide();
			$("#HinhThucThanhLy").show();
			$("input:radio[name='YCCTModel.IS_BAN_THANH_LY'][value='@_strBool']").prop('checked', true);
            ChangeDaBanThanhLy();
            if (LyDoId == @((int)enumLY_DO_GIAM_TOAN_BO.BAN_CHUYEN_NHUONG) ) {
                var ddlTT = $("#HINH_THUC_XU_LY_ID").data("kendoDropDownList");
                var oldData = ddlTT.dataSource.data();
                ddlTT.dataSource.remove(oldData[1]);
            }
            else {
                $("#HINH_THUC_XU_LY_ID").data("kendoDropDownList").setDataSource(JSON.parse(String.raw`@Html.Raw(((Model.ddlPhuongAnXuLy).toStringJson()))`));
            }
			//$("input[id='YCCTModel_IS_BAN_THANH_LY']:checked").attr('checked', true);
		} else {
			var dropdownlist = $("#HINH_THUC_XU_LY_ID").data("kendoDropDownList");
			dropdownlist.value("0");
			$(".ThuTuGiam").hide();
			$("#HinhThucThanhLy").hide();
			//$("input[id='YCCTModel_IS_BAN_THANH_LY']:checked").attr('checked', false);
			$("#YCCTModel_IS_BAN_THANH_LY").prop('checked', false);
			$("#YCCTModel_PHI_THU").data("kendoNumericTextBox").value(0);
			$("#YCCTModel_PHI_BU_DAP").data("kendoNumericTextBox").value(0);
			$("#YCCTModel_PHI_NOP_NGAN_SACH").data("kendoNumericTextBox").value(0);
		}
	}
	function deleteYeuCauBienDong() {
		bootbox.confirm({
			message: "Bạn có chắc chắn xóa biến động này?",
			className: 'bootbox-sm',
			buttons: {
				confirm: {
					label: 'Đồng ý',
				},
				cancel: {
					label: 'Hủy',
				},
			},
			callback: function (result) {
				if (result) {
					var _url = "@(Url.Action("DeleteYeuCauBienDong", "YeuCau"))?yeuCauId=" + @Model.ID + "&loaiBienDongId=" +@Model.LOAI_BIEN_DONG_ID;
					var deleteYeuCau = ajaxDelete(_url, false);
					deleteYeuCau.done(function (result) {
						if (result.Code == '00') {
							ShowSuccessMessage(result.Message);
							location.href = '/YeuCau/ListBienDongTaiSan?loaiLyDoId=' + @Model.LOAI_BIEN_DONG_ID;
						} else if (result.Code == '01') {
							ShowErrorMessage(result.Message);
							//location.href = '/YeuCau/ListBienDongTaiSan?loaiLyDoId=' + @Model.LOAI_BIEN_DONG_ID;
						}
					}).fail(function (jqXHR, textStatus, errorThrown) {
						// If fail
						console.log(textStatus + ': ' + errorThrown);
					});
				}
			}
		});
	}
</script>