@model  InsertEditDeniedModel
<div class="alert alert-dark-danger alert-dismissible fade show" style="margin-top:15px;">
    Không thể cập nhật biến động "@Model.TEN_BIEN_DONG" của tài sản "@Model.MA_TAI_SAN - @Model.TEN_TAI_SAN".<br />
    Bạn phải cập nhật biến động "@Model.TEN_BIEN_DONG_CAN_SUA" trước. Chọn vào <a class="btn btn-outline-white btn-xs" href="@Model.RedirectUrl">đây</a> để cập nhật.
</div>