@model BaoCaoTaiSanTongHopSearchModel

@{
	//page title
	ViewBag.Title = "BÁO CÁO CUNG CẤP THÔNG TIN TÀI CHÍNH";
	//active menu item (system name)
	Html.SetActiveMenuItemSystemName("BaoCaoTHTS");
}

<div class="gs-form-group mb-4" style="margin-top:25px;">
	<h6>Điều kiện báo cáo</h6>
    <form asp-controller="Report" asp-action="TSCT_B03_CCTT_HUU_HINH_CHAY_NGAM" method="post">
        <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-left">Đơn vị</label>
            <div class="col-sm-10">
                <nop-select asp-for="DonVi" asp-filter="true" asp-items="Model.DDLDonVi" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-left text-required">Năm</label>
            <div class="col-sm-2">
                <nop-editor asp-for="NamBaoCao" />
                <span asp-validation-for="NamBaoCao"></span>
            </div>
            <label class="col-form-label col-sm-2 text-sm-left text-required">Đơn vị tính giá trị</label>
            <div class="col-sm-2">
                <nop-select asp-for="DonViTien" asp-items="Model.DDLDonViTien" />
                <span asp-validation-for="NamBaoCao"></span>
            </div>
        </div>
        @if (Model.DonVi == (int)enumDonVi.TRUNG_TAM_DU_LIEU_QUOC_GIA_VE_TS_CONG)
        {
            <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-left text-required">Cấp hành chính</label>
                <div class="col-sm-4">
                    <nop-select asp-for="CapDonVi" asp-filter="true" asp-items="Model.DDLCapDonVi" asp-multiple="true" asp-arrow="true" asp-placeholder="Tất cả" />
                </div>
            </div>
        }
        <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-left">Bậc đơn vị</label>
            <div class="col-sm-4">
                <nop-select asp-for="BacDonVi" asp-items="Model.DDLBacDonVi" />
            </div>
        </div>

        <div class="form-group row" style="text-align:left">
            <div class="col-2"></div>
            <div class="col-10">
                <button class="btn btn-primary" type="button" id="btnBaoCao">Báo cáo</button>
                @await Html.PartialAsync("_BtnGroupBaoCaoNgam")
            </div>
            @*<button class="btn btn-success" style="display:none;" id="btnBaoCaoNgam" type="submit">Báo cáo ngầm</button>*@
        </div>
    </form>
</div>
<div id="view-contentTask"></div>
<iframe id="view-contentReport" style="width:100%;height:1100px;" frameborder="0"></iframe>
<script>
	$(function () {
		ddlDVTien = $("#DonViTien").data("kendoDropDownList");
		if (ddlDVTien) {
			ddlDVTien.select(1);
		}
		ddlDonVi = $("#DonVi").data("kendoDropDownList");
		if (ddlDonVi) {
			ddlDonVi.select(0);
		}

		let _data = {
			MaBaoCao: "@Model.MaBaoCao"
		};
		let _url = '@Url.Action("Detail","QueueProcess")';
		ajaxPost(_data, _url, true).done(function (data) {
			$('#view-contentTask').html(data);
		});
    });
    $(document).ready(function () {
       if (@Model.DonVi == @((int)enumDonVi.TRUNG_TAM_DU_LIEU_QUOC_GIA_VE_TS_CONG) ) {
            var capKendo = $("#CapDonVi").data("kendoDropDownList");
            if (capKendo) {
                capKendo.value("-1");
            }
        }
    });
     $(document).ready(function () {    
            var capKendo = $("#CapDonVi").data("kendoDropDownList");
            if (capKendo) {
                capKendo.value("-1");
        }
    });
	$("#btnBaoCao").click(function () {
		//if (checkvali()) {
        @*var capDonVi = $("#CapDonVi").val();
        if (@Model.DonVi != @((int)enumDonVi.TRUNG_TAM_DU_LIEU_QUOC_GIA_VE_TS_CONG) ) {
            capDonVi = "-1"
        }*@
        let StringCapHanhChinh = null;
        if ($("#CapDonVi").val()) {
            StringCapHanhChinh = $("#CapDonVi").val().join(',');
        }
		var data = {
			NgayKetThuc: getDateFormatForGetMethod($("#NgayKetThuc").val()),
			DonVi: $("#DonVi").val(),
			LoaiTaiSan: $("#LoaiTaiSan").val(),
            DonViDienTichNha: $("#DonViDienTichNha").val(),
            //CapDonVi: capDonVi,
            StringCapHanhChinh: StringCapHanhChinh,
			DonViDienTichDat: $("#DonViDienTichDat").val(),
			DonViDienTich: $("#DonViDienTich").val(),
			DonViTien: $("#DonViTien").val(),
			BacTaiSan: $("#BacTaiSan").val(),
			NamBaoCao: $("#NamBaoCao").val(),
            MauSo: $("#MauSo").val(),
            BacDonVi: $("#BacDonVi").val()
		};
		submit_post_via_hidden_form("/Report/TS_BCTH_B03_CCTT_HUU_HINH_", data,'GET');

    })
    $(document).ready(function () {
        var capKendo = $("#CapDonVi").data("kendoMultiSelect");
        if (capKendo) {
            capKendo.value("");
        }
    });
</script>