@model XuatNhapSearchModel
@{
    //page title
    ViewBag.Title = "Phân bổ công cụ, dụng cụ";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("PhanBoCongCuDungCu");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h5 class="pull-left">
        @ViewBag.Title
    </h5>
    @*<div class="pull-right" style="margin-bottom:5px;">
        <a asp-action="ListGhiTangCongCu" class="btn btn-success">
            Ghi tăng
        </a>
    </div>*@
</div>
<div class="ui-bordered px-4 pt-4 mb-4" >
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left">Từ khóa:</label>
        <div class="col-sm-8">
            <nop-editor asp-for="KeySearch" />
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-primary" id="btnSearch">Tìm kiếm</button>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left">Từ ngày:</label>
        <div class="col-sm-3">
            <nop-editor asp-for="TuNgay" />
        </div>
        <label class="col-form-label col-sm-2 text-sm-left">Đến ngày:</label>
        <div class="col-sm-3">
            <nop-editor asp-for="DenNgay" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left">Loại CCDC:</label>
        <div class="col-sm-3">
            <nop-select asp-for="LoaiCongCu" asp-items="Model.DDLNhomCongCu" asp-filter="true" />
        </div>
        <label class="col-form-label col-sm-2 text-sm-left">Bộ phận:</label>
        <div class="col-sm-3">
            <nop-select asp-for="DonViBoPhanId" asp-items="Model.DDLDonViBoPhan" asp-filter="true" />
        </div>
    </div>

</div>
<div class="form-group row">
	<div class="col-sm-10 d-flex align-items-center">
		<div class="tle1">
			<i class=" fas fa-list-ul mr-2"></i><span id="name-list">Danh sách phân bổ công cụ, dụng cụ</span>
		</div>
	</div>
	<div class="col-sm-2 text-right">
		<a asp-action="ListGhiTangCongCu" class="btn btn-sm btn-outline-primary">
			Thêm mới
		</a>
	</div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="items-grid"></div>
                    <script>
                        var record = 0;
                        $(document).ready(function () {
                            function SearchData() {
                                var _data = {
                                    KeySearch: $('#@Html.IdFor(model => model.KeySearch)').val(),
                                    TuNgay: $('#@Html.IdFor(model => model.TuNgay)').val(),
                                    DenNgay: $('#@Html.IdFor(model => model.DenNgay)').val(),
                                    LoaiCongCu: $('#@Html.IdFor(model => model.LoaiCongCu)').val(),
                                    DonViBoPhanId: $('#@Html.IdFor(model => model.DonViBoPhanId)').val(),
                                    Page: $("#items-grid").data("kendoGrid").dataSource.page(),
                                    PageSize: $("#items-grid").data("kendoGrid").dataSource.pageSize(),

                                };
                                addAntiForgeryToken(_data);
                                return _data;
                            }
                            $("#btnSearch").click(function () {
                                var grid = $('#items-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
								record = 0;
                                return false;
                            });
                             $("#@Html.IdFor(model => model.KeySearch)").keydown(function(event) {
                                if (event.keyCode === 13) {
                                    $("#btnSearch").click();
                                    return false;
                                }
                            });
                            $("#items-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "XuatNhap"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: SearchData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    page:@(Model.Page),
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                                    mode: "inline"
                                },
								dataBinding: function () {
									record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
								},
                                scrollable: false,
                                columns: [
									{
										title: "STT",
										template: "#= ++record #",
										width: 50,
										headerAttributes: { style: "text-align:center" },
										attributes: { style: "text-align:center" },
									},

                                    {
                                        field: 'MaCongCuText',
                                        title: 'Mã CCDC',
                                        template: function (item) {
                                            return `<a href="javascript:void(0)" class='link_href' data-toggle="modal" data-target="#globalModalIframe" data-title="Thông tin chi tiết công cụ: ${item.MaCongCuText}" data-src="/XuatNhap/_ThongTinCongCu?NhapXuatId=${item.MapId}">${item.MaCongCuText}</a>`;
                                        }
                                    },
                                    {
                                        field: 'TenCongCuText',
                                        title: 'Tên CCDC',
                                        template: function (item) {
                                            return `<a href="javascript:void(0)" class='link_href' data-toggle="modal" data-target="#globalModalIframe" data-title="Thông tin chi tiết công cụ: ${item.MaCongCuText}" data-src="/XuatNhap/_ThongTinCongCu?NhapXuatId=${item.MapId}">${item.TenCongCuText}</a>`;
                                        }
                                    },
                                    { field: 'NhomCongCuText', title: 'Nhóm CCDC' },
                                    { field: 'BoPhanText', title: 'Bộ phận' },
                                    { field: 'DonGiaText', title: 'Đơn giá',
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:right" } },
                                    { field: 'SoLuongText', title: 'Số lượng',
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:right" } },
                                    {
                                        field: 'NgayXuatNhapText', title: 'Ngày tăng',
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" }
                                    },
                                    {
                                        field: "MapId",
                                        title: "Thao tác",
                                        width: 150,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: function (item) {
                                            console.log(item);
                                            if (item.IsEdit) {
                                                return `<a href="javascript:void(0)" class="btn icon-btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#globalModalIframe" data-title="Thông tin chi tiết công cụ: ${item.MaCongCuText}" data-src="/XuatNhap/_ThongTinCongCu?NhapXuatId=${item.MapId}">Xem</a>
                                                        <a class="btn icon-btn btn-sm btn-outline-secondary" href="Edit?MapId=${item.MapId}" title="Sửa">Sửa</a> 
                                                        <button class="btn icon-btn btn-sm btn-outline-danger" id="btn-delete-item-ts"  onclick="XoaPhanBo(${item.MapId})" title="Xóa">Xóa</button>`
                                            } else {
                                                return `<a href="javascript:void(0)" class="btn icon-btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#globalModalIframe" data-title="Thông tin chi tiết công cụ: ${item.MaCongCuText}" data-src="/XuatNhap/_ThongTinCongCu?NhapXuatId=${item.MapId}">Xem</a>`
                                            }

                                        }
                                          
                                    }
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        function XoaPhanBo(MapId) {
       
       // var currentPage = grid.dataSource.page();
         bootbox.confirm({
            message: "Bạn có chắc chắn xóa phân bổ này không?",
            buttons: {
                confirm: {
                    label: '@T("admin.common.yes")',
                },
                cancel: {
                    label: '@T("admin.common.no")',
                },
            },
            callback: function (confirm) {
                if (confirm) {
                    $.ajax({
                        type: "GET",
                        url: "/XuatNhap/Delete?MapId=" + MapId,
                        success: function (data) {
                            if (data.Code =="00")
                            {
                                ShowSuccessMessage(data.Message); 
                                var pageindex = $('#items-grid').data('kendoGrid').dataSource.page();
                                var grid = $('#items-grid').data('kendoGrid');
                                grid.dataSource.page(pageindex);
                            }
                            else {
                                ShowErrorMessage(data.Message)
                            }
                        }
                    })
                }
                return;
            }
        })
    }
</script>
<style>
    .link_href {
        color: #007bff !important;
    }

        .link_href:hover {
            cursor: pointer !important;
            text-decoration: underline !important;
        }
</style>

