@model YeuCauModel
<!-- Thong tin chung begin --------->
<!-- Thong tin chung end --------->
<input asp-for="LOAI_HINH_TAI_SAN_ID" id="LOAI_HINH_TAI_SAN_ID_2" type="hidden" />
<input asp-for="TAI_SAN_MA" id="TAI_SAN_MA_2" type="hidden" />
<input asp-for="TaiSanGuid" id="TaiSanGuid_2" type="hidden" />
<input asp-for="TAI_SAN_ID" id="TAI_SAN_ID_2" type="hidden" />
<input asp-for="LOAI_BIEN_DONG_ID" id="LOAI_BIEN_DONG_ID_2" type="hidden" />
<input asp-for="NGAY_SU_DUNG" id="NGAY_SU_DUNG_2" type="hidden" />
<input asp-for="DON_VI_ID" id="DON_VI_ID_2" type="hidden" />
<input asp-for="pageIndex" type="hidden" />
<input asp-for="CHUNG_TU_SO" type="hidden" />
<input asp-for="CHUNG_TU_NGAY" type="hidden" />
<input asp-for="LOAI_TAI_SAN_DON_VI_ID" id="LOAI_TAI_SAN_DON_VI_ID_2" type="hidden" />
<input asp-for="LOAI_TAI_SAN_ID" id="LOAI_TAI_SAN_ID_2" type="hidden" />
<input asp-for="LOAI_TAI_SAN_ID" id="LOAI_TAI_SAN_ID_2" type="hidden" />
<input asp-for="DON_VI_BO_PHAN_ID" id="DON_VI_BO_PHAN_ID" type="hidden" />
<input asp-for="TAI_SAN_TEN" id="TAI_SAN_TEN_2" type="hidden" />


<div class="gs-form-group  ">
    <h6>Thông tin thay đổi</h6>
    <div class="form-group row">
        <label class="col-form-label col-sm-2  text-required">Ngày thay đổi</label>
        <div class="col-md-4">
            <nop-editor asp-for="NGAY_BIEN_DONG" /><br />
            <span asp-validation-for="NGAY_BIEN_DONG"></span>
        </div>
    </div>
    <div class="form-group row">
        @if (Model.LOAI_HINH_TAI_SAN_ID == (int)enumLOAI_HINH_TAI_SAN.DAT)
        {
            <label class="col-form-label col-sm-2 text-required">Tên tài sản</label>
            <div class="col-sm-4">
                <nop-editor asp-for="TAI_SAN_TEN" id="TAI_SAN_TEN_2" asp-disabled="true"  />
                <span asp-validation-for="TAI_SAN_TEN" class="TEN"></span>
            </div>
        }
        else
        {
            <label class="col-form-label col-sm-2 text-required">Tên tài sản</label>
            <div class="col-sm-4">
                <nop-editor asp-for="TAI_SAN_TEN" id="TAI_SAN_TEN_2" asp-disabled="true"  />
                <span asp-validation-for="TAI_SAN_TEN" class="TEN"></span>
            </div>
        }
    </div>
    <div id="ChiTietTaiSan"></div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-required">Lý do</label>
        <div class="col-sm-4">
            <nop-select asp-for="LY_DO_BIEN_DONG_ID" asp-items="Model.LyDoTangAvailable" />
            <span asp-validation-for="LY_DO_BIEN_DONG_ID"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2  ">Diễn giải</label>
        <div class="col-sm-10">
            <nop-textarea asp-for="GHI_CHU" />
        </div>
    </div>
</div>
@if (Model.IsShowHienTrang)
{
    <div class="gs-form-group  ">
        <h6>Hiện trạng sử dụng</h6>
        <div class="form-group row ">
            @foreach (var obj in Model.YCCTModel.lstHienTrang)
            {
                obj.DonViId = Model.DON_VI_ID;
                @await Html.PartialAsync("../TaiSan/_HienTrangSuDungOnCanhBao", obj)
            }
        </div>
    </div>
}
else
{
    <div class="gs-form-group d-none " >
        <h6>Hiện trạng sử dụng</h6>
        <div class="form-group row ">
            @foreach (var obj in Model.YCCTModel.lstHienTrang)
            {
                obj.DonViId = Model.DON_VI_ID;
                @await Html.PartialAsync("../TaiSan/_HienTrangSuDungOnCanhBao", obj)
            }
        </div>
    </div>
}

<script>
	$(function () {

		LoadPartialViewTaiSan(@Model.LOAI_HINH_TAI_SAN_ID);

		@*$("#NGAY_BIEN_DONG").change(function () {
            var ngaynhap = $(this).val();
			var _loaihinhTSID = $("#LOAI_HINH_TAI_SAN_ID_2").val();
                var _data = {
                    NgayNhap: ngaynhap,
                    loaiHinhTSId: _loaihinhTSID,
            }
            $.ajax({
                url: "/TaiSan/GetLoaiTaiSans",
                type: "POST",
                data: _data,
                success: function (result) {
                    if (_loaihinhTSID == @((int)GS.Core.Domain.DanhMuc.enumLOAI_HINH_TAI_SAN.VO_HINH)) {
                        var ddlLoaiTaiSan = $("#LOAI_TAI_SAN_DON_VI_ID_2").data("kendoDropDownList");
                        if (ddlLoaiTaiSan) {
                            ddlLoaiTaiSan.setDataSource(new kendo.data.DataSource({ data: result }));
                        }						
						@if (Model.LOAI_TAI_SAN_DON_VI_ID==null)
						{
							<text>ddlLoaiTaiSan.value(0); </text>
						}
						else
						{
							<text>ddlLoaiTaiSan.value('@Model.LOAI_TAI_SAN_DON_VI_ID');</text>
						}

						//var text = $("#LOAI_TAI_SAN_DON_VI_ID_2 option:first-child ").text();
						//$("#LOAI_TAI_SAN_DON_VI_ID_2").parent().find(".k-input").text(text);
					}
					else {
                        var ddlLoaiTaiSan = $("#LOAI_TAI_SAN_ID_2").data("kendoDropDownList");
                        if (ddlLoaiTaiSan) {
                            ddlLoaiTaiSan.setDataSource(new kendo.data.DataSource({ data: result }));
                        }
						
						@if (Model.LOAI_TAI_SAN_ID==null)
						{
							<text>ddlLoaiTaiSan.value(0); </text>
						}
						else
						{
							<text>ddlLoaiTaiSan.value('@Model.LOAI_TAI_SAN_ID');</text>
						}
						//var text = $("#LOAI_TAI_SAN_ID_2 option:first-child ").text();
						//$("#LOAI_TAI_SAN_ID_2").parent().find(".k-input").text(text);
					}
                }
            });
		});*@
	})


	function LoadPartialViewTaiSan(LoaiHinhTSId) {
		var _url = "";
		@{
			decimal YeuCauID = 0;
			if (Model.YCCTModel != null)
			{
				YeuCauID = Model.ID;
			}
		}
        switch (LoaiHinhTSId) {
            case @((int)GS.Core.Domain.DanhMuc.enumLOAI_HINH_TAI_SAN.DAT):
                _url = "/ThayDoiThongTin/_ThayDoiThongTinTaiSanDat?taiSanId=@Model.TAI_SAN_ID&YeuCauID=@YeuCauID&ngayBienDong=@Model.NGAY_BIEN_DONG";
                break;
            case @((int)GS.Core.Domain.DanhMuc.enumLOAI_HINH_TAI_SAN.NHA):
                _url = "/ThayDoiThongTin/_ThayDoiThongTinTaiSanNha?taiSanId=@Model.TAI_SAN_ID&YeuCauID=@YeuCauID&ngayBienDong=@Model.NGAY_BIEN_DONG";
                break;
             case @((int)GS.Core.Domain.DanhMuc.enumLOAI_HINH_TAI_SAN.OTO):
                _url = "/ThayDoiThongTin/_ThayDoiThongTinTaiSanOto?taiSanId=@Model.TAI_SAN_ID&YeuCauID=@YeuCauID";
                break;
             case @((int)GS.Core.Domain.DanhMuc.enumLOAI_HINH_TAI_SAN.TAI_SAN_CAY_LAU_NAM_SVLV):
				//không cần view con
				return;
                break;
            case @((int)GS.Core.Domain.DanhMuc.enumLOAI_HINH_TAI_SAN.TAI_SAN_MAY_MOC_THIET_BI):

				//không cần view con
				return;
            case @((int)GS.Core.Domain.DanhMuc.enumLOAI_HINH_TAI_SAN.TAI_SAN_VAT_KIEN_TRUC):
				_url = "/ThayDoiThongTin/_ThayDoiThongTinTaiSanVatKienTruc?taiSanId=@Model.TAI_SAN_ID&YeuCauID=@YeuCauID&ngayBienDong=@Model.NGAY_BIEN_DONG&ngayBienDong=@Model.NGAY_BIEN_DONG";
				break;
			default:
				return;

        }
        $.ajax({
            url: _url,
            type: "GET",
			success: function (data) {
                $("#ChiTietTaiSan").html(data);
            },
            error: function (xhr, textStatus, thrownError) {
               console.log(textStatus + ': ' + thrownError);
            }
        });
    }
</script>
