@model DonViChuyenDoiModel

@inject IWorkContext _workContext;

<input asp-for="ID" type="hidden" />
<input asp-for="DON_VI_ID" type="hidden" value="@Model.DON_VI_ID" />
<input asp-for="NGAY_TAO" type="hidden" value="@DateTime.Now" />
<input asp-for="NGUOI_TAO_ID" type="hidden" value="@_workContext.CurrentCustomer.ID" />
<input asp-for="MA" type="hidden" />
<input asp-for="DIA_CHI" type="hidden" />

<div class="form-group row" id="QuyetDinh">
    <label class="col-form-label col-sm-2 text-required">Số quyết định </label>
    <div class="col-sm-4">
        <nop-editor asp-for="QUYET_DINH_SO" />
        <span asp-validation-for="QUYET_DINH_SO"></span>
    </div>
    <label class="col-form-label col-sm-2 text-required">Ngày quyết định </label>
    <div class="col-sm-4">
        <nop-editor asp-for="QUYET_DINH_NGAY" />
        <span asp-validation-for="QUYET_DINH_NGAY"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2">Lý do thay đổi</label>
    <div class="col-sm-10">
        <nop-editor asp-for="GHI_CHU" />
    </div>
</div>
@*<div class="form-group row">
        <label class="col-form-label col-sm-2 ">Mã đơn vị</label>
        <div class="col-sm-10">
            <nop-editor asp-for="MA" asp-disabled="true" />
            <input asp-for="MA" hidden />
        </div>
    </div>*@
<div class="form-group row">
    <label class="col-form-label col-sm-2">Tên đơn vị cũ </label>
    <div class="col-sm-4">
        <nop-editor asp-for="TENCU" asp-disabled="true" />
    </div>
    <label class="col-form-label col-sm-2">Tên đơn vị mới <span style="color: red;">*</span></label>
    <div class="col-sm-4">
        <nop-editor asp-for="TEN" />
        <span asp-validation-for="TEN"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2">Mã QHNS cũ </label>
    <div class="col-sm-4">
        <nop-editor asp-for="MA_DVQHNS" asp-disabled="true" />
    </div>
    <label class="col-form-label col-sm-2">Mã QHNS mới </label>
    <div class="col-sm-4">
        <nop-editor asp-for="MA_DVQHNS_MOI" />
        <span asp-validation-for="MA_DVQHNS_MOI"></span>
    </div>
</div>
@*<div class="form-group row">
        <label class="col-form-label col-sm-2">Mã đơn vị cấp trên cũ </label>
        <div class="col-sm-4">
            <nop-editor asp-for="TenDonViCha" asp-disabled="true" />
        </div>
        <label class="col-form-label col-sm-2">Mã đơn vị cấp trên mới </label>
        <div class="col-sm-4">
            <nop-editor asp-for="TenDonViChaMoi" />
            <span asp-validation-for="TenDonViChaMoi"></span>
        </div>
    </div>*@
@*<div class="form-group row">
        <label class="col-form-label col-sm-2">Loại đơn vị cũ </label>
        <div class="col-sm-4">
            <nop-editor asp-for="LOAI_DON_VI" asp-disabled="true" />
        </div>
        <label class="col-form-label col-sm-2">Loại đơn vị mới <span style="color: red;">*</span></label>
        <div class="col-sm-4">
            <nop-editor asp-for="TENMOI" />
            <span asp-validation-for="TENMOI"></span>
        </div>
    </div>*@
<div class="form-group row">
    <label class="col-form-label col-sm-2">Cấp đơn vị cũ </label>
    <div class="col-sm-4">
        <nop-editor asp-for="TEN_LOAI_CAP_DON_VI_CU" asp-disabled="true" />
    </div>
    <label class="col-form-label col-sm-2">Cấp đơn vị mới  <span style="color: red;">*</span></label>
    <div class="col-sm-4">
        <nop-select asp-for="LOAI_CAP_DON_VI_ID_MOI" asp-items="Model.ddlLoaiCapDonViMoi" />
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2"></label>
    <div class="col-sm-4">
        <nop-editor asp-for="TEN_CAP_DON_VI_CU" asp-disabled="true" />
    </div>
    <label class="col-form-label col-sm-2"></label>
    <div class="col-sm-4">
        <nop-select asp-for="CAP_DON_VI_ID_MOI" asp-items="Model.dllCapDonViMoi" />
        <span asp-validation-for="CAP_DON_VI_ID_MOI"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2">Loại hình đơn vị cũ </label>
    <div class="col-sm-4">
        <nop-editor asp-for="TEN_LOAI_DON_VI_CU" asp-disabled="true" />
    </div>
    <label class="col-form-label col-sm-2">Loại hình đơn vị mới <span style="color: red;">*</span></label>
    <div class="col-sm-4">
        <nop-select asp-for="LOAI_DON_VI_ID" asp-items="Model.LoaiDonVi" />
        <span asp-validation-for="LOAI_DON_VI_ID"></span>
    </div>
</div>
@*<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-right">Thuộc loại</label>
    <div class="col-sm-10">
        <div class="custom-controls-stacked row" style="margin-top: 7px;margin-left: 0px;">
            <label class="custom-control custom-radio col-sm-5" style="margin-left:7px;">
                @Html.RadioButtonFor(c => c.LA_DON_VI_NHAP_LIEU, false, new { @class = "custom-control-input" })
                <span class="custom-control-label"><small>Đơn vị tổng hợp</small></span>
            </label>
            <label class="custom-control custom-radio col-sm-5">
                @Html.RadioButtonFor(c => c.LA_DON_VI_NHAP_LIEU, true, new { @class = "custom-control-input" })
                <span class="custom-control-label"><small>Đơn vị đăng ký</small></span>
            </label>
        </div>
    </div>
</div>*@
<script>
    $(document).ready(function () {
        if ($('#CAP_DON_VI_ID_MOI').val() == 1 || $('#LOAI_CAP_DON_VI_ID_MOI').val() == 1) {
            window.onload = ddlLoaiCapDV_change;
        }
        var DDLLoaiCapDonViMoi = $('#LOAI_CAP_DON_VI_ID_MOI');
        DDLLoaiCapDonViMoi.bind("change", ddlLoaiCapDV_change);
    })
    function ddlLoaiCapDV_change() {
        let _data = {
            LoaiCapDV: $('#LOAI_CAP_DON_VI_ID_MOI').val()
        }
        let _url = '@Url.Action("ddlLoaiCapDV_change","DonVi")';
        ajaxPost(_data, _url, true).done(function (data) {
            let ddlCapDV = $('#CAP_DON_VI_ID_MOI').data("kendoDropDownList");
            if (ddlCapDV) {
				ddlCapDV.setDataSource( data);
                ddlCapDV.select(0);
            }
        });
    }
</script>

@*<div class="form-group row">
        <label class="col-form-label col-sm-2">Địa chỉ</label>
        <div class="col-sm-10">
            <nop-editor asp-for="DIA_CHI" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Loại hình đơn vị <span style="color: red;">*</span></label>
        <div class="col-sm-10">
            <nop-select asp-for="LOAI_DON_VI_ID" asp-items="Model.LoaiDonVi" />
            <span asp-validation-for="LOAI_DON_VI_ID"></span>
        </div>
    </div>*@

@*<div id="quyetdinh">*@
@*<div class="form-group row">
                <label class="col-form-label col-sm-2">Quyết định giao vốn</label>
                <div class="col-sm-10">
                    <div class="custom-controls-stacked row" style="margin-top: 7px;margin-left: 0px;">
                        <label class="custom-control custom-radio col-sm-5" style="margin-left:7px;">
                            @Html.RadioButtonFor(c => c.DA_CO_QUYET_DINH_GIAO_VON, Convert.ToBoolean(enumQuyetDinhGiaoVon.Chua), new { @class = "custom-control-input" })
                            <span class="custom-control-label"><small>Chưa có quyết định giao vốn</small></span>
                        </label>
                        <label class="custom-control custom-radio col-sm-5">
                            @Html.RadioButtonFor(c => c.DA_CO_QUYET_DINH_GIAO_VON, Convert.ToBoolean(enumQuyetDinhGiaoVon.Co), new { @class = "custom-control-input" })
                            <span class="custom-control-label "><small>Đã có quyết định giao vốn</small></span>
                        </label>
                    </div>
                </div>
            </div>
        <div class="form-group row" id="QuyetDinhGiaoVon" style="display:none">
            <label class="col-form-label col-sm-2 text-required">Số QĐ </label>
            <div class="col-sm-4">
                <nop-editor asp-for="QUYET_DINH_GIAO_VON_SO" />
                <span asp-validation-for="QUYET_DINH_GIAO_VON_SO"></span>
            </div>
            <label class="col-form-label col-sm-2 text-required">Ngày QĐ </label>
            <div class="col-sm-4">
                <nop-editor asp-for="QUYET_DINH_GIAO_VON_NGAY" />
                <span asp-validation-for="QUYET_DINH_GIAO_VON_NGAY"></span>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            if ($('input[value="False"][name="DA_CO_QUYET_DINH_GIAO_VON"]').is(":checked")) {
                $("#QuyetDinh").show();
                $("#QuyetDinhGiaoVon").hide();
            }
            if ($('input[value="True"][name="DA_CO_QUYET_DINH_GIAO_VON"]').is(":checked")) {
                $("#QuyetDinh").hide();
                $("#QuyetDinhGiaoVon").show();
            }


            $('input[value="False"][name="DA_CO_QUYET_DINH_GIAO_VON"]').on("click", function () {
                $("#QuyetDinh").show();
                $("#QuyetDinhGiaoVon").hide();
            });
            $('input[value="True"][name="DA_CO_QUYET_DINH_GIAO_VON"]').on("click", function () {
                $("#QuyetDinh").hide();
                $("#QuyetDinhGiaoVon").show();
            });
        });

    </script>*@
