@model DonViBoPhanSearchModel
@{
    //page title
    ViewBag.Title = "Danh mục bộ phận sử dụng";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("DanhMucDonViBoPhan");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h5 class="pull-left">
        @*@ViewBag.Title*@
        <br />
    </h5>
    @*<div class="pull-right" style="margin-bottom:5px;">
        <a asp-action="Create" class="btn btn-success">
            <i class="fa fa-plus-square"></i>
            Thêm mới
        </a>
    </div>*@
</div>
<div class="ui-bordered px-4 pt-4 mb-4" >
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-right">Từ khóa:</label>
        <div class="col-sm-8">
            <nop-editor asp-for="KeySearch" placeholder="Nhập từ khóa tìm kiếm tên" />
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-primary" id="btnSearch">Tìm kiếm</button>
        </div>
    </div>
</div>
<div class="form-group row">
	<div class="col-sm-10 d-flex align-items-center">
		<div class="tle1">
			<i class=" fas fa-list-ul mr-2"></i><span id="name-list">Danh sách bộ phận sử dụng</span>
		</div>
	</div>
	<div class="col-sm-2 text-right">
		<a type="button" class="btn  btn-sm btn-outline-primary" href="Create">
			<i class="fa fa-plus-square"></i>
			Thêm mới
		</a>
	</div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="items-grid"></div>
                    <script>
                        var record = 0;
                        $(document).ready(function () {
                            function SearchData() {
                                var _data = {
                                    KeySearch:$('#@Html.IdFor(model => model.KeySearch)').val(),
                                    pageIndex: $('#@Html.IdFor(model => model.pageIndex)').val()
                                };
                                addAntiForgeryToken(_data);
                                return _data;
                            }
                            $("#btnSearch").click(function () {
                                var grid = $('#items-grid').data('kendoGrid');
                                record = 0;
                                grid.dataSource.page(1); //new search. Set page size to 1
                                return false;
                            });
                             $("#@Html.IdFor(model => model.KeySearch)").keydown(function(event) {
                                if (event.keyCode === 13) {
                                    $("#btnSearch").click();
                                    return false;
                                }
                            });
                            $("#items-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "DonViBoPhan"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: SearchData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    page:@(Model.Page),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                 dataBinding: function() {
                                      record = (this.dataSource.page() -1) * this.dataSource.pageSize();
                                 },
                                editable: {
                                    confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                                    mode: "inline"
                                },
                                detailInit: detailInit,
                                scrollable: false,
                                columns: [
                                    {
                                      title: "STT",
                                      template: "#= ++record #",
                                      width: 35,
                                      headerAttributes: { style: "text-align:center" },
                                      attributes: { style: "text-align:center" },
                                    },
                                    //{
                                    //    field: 'MA',
                                    //    title: 'Mã',
                                    //    template: '#=CountSub>0?MA+" &nbsp;(<span class=\'gs-grid-has-child\' style=\'color: red;\'>"+CountSub+"</span>)":MA#'
                                    //},
                                    {
                                        field: 'TEN',
                                        title: 'Tên',
                                        template: '#=CountSub>0?TEN+" &nbsp;(<span class=\'gs-grid-has-child\' style=\'color: red;\'>"+CountSub+"</span>)":TEN#'
                                    },
                                    {field: 'DIA_CHI',title: 'Địa chỉ'},
                                    {field: 'DIEN_THOAI',title: 'Điện thoại'},
									{ field: 'TEN_DON_VI_BO_PHAN_CHA', title: 'Thuộc/ trực thuộc bộ phận'},
                                    {
                                        field: "ID",
                                        title: "Thao tác",
                                        width: 150,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-sm btn-outline-secondary" href="Edit?Id=#=ID#&pageIndex=#=pageIndex#"><i class="fas fa-pencil-alt d-block"></i>Sửa</a>'}
                                    ]
                            });
                             function detailInit(e) {
                                var data = {
                                    ParentID: e.data.ID,
                                };

                                addAntiForgeryToken(data);
                                $("<div/>").appendTo(e.detailCell).kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "DonViBoPhan"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: data
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: false,
                                    serverFiltering: true,
                                    serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(Model.AvailablePageSizes)],
                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    editable: {
                                    confirmation: "Bạn có chắc chắn xóa chỉ tiêu này không",
                                    mode: "inline"
                                    },
                                    detailInit: detailInit,
                                    scrollable: false,
                                    columns: [
                                        //{
                                        //    field: 'MA',
                                        //    title: 'Mã',
                                        //     template: '#=CountSub>0?MA+" &nbsp;(<span class=\'gs-grid-has-child\' style=\'color: red;\'>"+CountSub+"</span>)":MA#'
                                        //},
                                        {
                                            field: 'TEN',
                                            title: 'Tên',
                                             template: '#=CountSub>0?TEN+" &nbsp;(<span class=\'gs-grid-has-child\' style=\'color: red;\'>"+CountSub+"</span>)":TEN#'
                                        },
                                    {field: 'DIA_CHI',title: 'Địa chỉ'},
                                    {field: 'DIEN_THOAI',title: 'Điện thoại'},
                                    { field: 'TEN_DON_VI_BO_PHAN_CHA', title: 'Bộ phận sử dụng cấp trên'},
                                    {
                                        field: "ID",
                                        title: "Thao tác",
                                        width: 150,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-sm btn-outline-secondary" href="Edit?Id=#=ID#&pageIndex=#=pageIndex#"><i class="fas fa-pencil-alt d-block"></i>Sửa</a>'}
                                    ]
                                });
                            };
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>


