@model TaiSanSearchModel
@{
    //page title
    ViewBag.Title = "Tìm kiếm tài sản hao mòn";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("CCKTTaiSanChuaTinhHaoMon");
}

<style>
    .k-grid .k-grid-header .k-header {
        white-space: normal;
        vertical-align: middle;
    }
</style>
<nop-antiforgery-token />
@*<input asp-for="pageIndex" type="hidden" />*@
<div class="content-header clearfix d-none">
    <h5 class="pull-left">
        @ViewBag.Title
    </h5>

</div>
<div class="ui-bordered px-4 pt-4 mb-4">

    @{
        string _classIsNL = "";
        if (Model.isNhapLieu == true)
        {
            _classIsNL = "d-none";
        }
    }
    <div class="form-group row @_classIsNL">
        <label class="col-form-label col-sm-2 ">Đơn vị quản lý</label>
        <input asp-for="donviId" type="hidden" />
        <div class="col-sm-8">
            <nop-editor asp-for="TenDonVi" asp-disabled="true" />
        </div>
        <div class="col-sm-2" style="text-align:right">
            <button type="button" class="btn btn-xs btn-outline-primary" data-toggle="modal" data-target="#globalModalIframe" data-title="Chọn đơn vị" data-src="/DonVi/_ChonDonVi?isStayInPage=true">
                <i class="fab fa-sistrix"></i>
                Chọn đơn vị
            </button>
        </div>


    </div>
    <div class="form-group row">
        <input asp-for="isHaoMon" type="hidden" />
        <label class="col-form-label col-sm-2 ">Từ khóa</label>
        <div class="col-sm-10">
            <nop-editor asp-for="KeySearch" placeholder="Tên hoặc mã tài sản..." />
        </div>
        @*<label class="col-form-label col-md-2 ">Trạng thái</label>
        <div class="col-md-2">
        <nop-select asp-for="TRANG_THAI_HAO_MON" asp-items="Model.Trangthailist" />
        </div>*@
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left text-required">Nguồn tài sản</label>
        <div class="col-sm-10">
            <nop-select asp-for="NguonTaiSanId" asp-items="Model.ddlNguonTaiSan" />
        </div>
    </div>
    @*<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-left">Loại đơn vị</label>
    <div class="col-sm-10">
    <nop-select asp-for="LoaiDonViId" asp-items="Model.ddlLoaiDonViAvaiale" />
    </div>
    </div>*@
    <div class="form-group row">
        <label class="col-form-label col-sm-2 ">Loại tài sản</label>
        <div class="col-sm-10">
            <nop-select asp-for="LoaiHinhTaiSanSelected" asp-multiple="true" asp-items="Model.LoaiHinhTaiSanAvailable" />

            @*<div class="custom-controls-stacked row" style="margin-top: 7px;margin-left: 0px;">
            @foreach (var loaiHinhTaiSan in Model.LoaiHinhTaiSanAvailable)
            {
            if (loaiHinhTaiSan.Value.ToNumber() != (int)GS.Core.Domain.DanhMuc.enumLOAI_HINH_TAI_SAN.ALL)
            {
            <label class="custom-control custom-checkbox col-sm-2" style="margin-left:7px;">
            @Html.CheckBoxFor(c => c.loaihinhtaisancheck, new { @class = "custom-control-input ", @id = loaiHinhTaiSan.Value })
            <span class="custom-control-label">@(loaiHinhTaiSan.Text)</span>
            </label>
            if (loaiHinhTaiSan.Selected == true)
            {
            <script>
            $("input[name='loaihinhtaisancheck'][id='@loaiHinhTaiSan.Value']").attr('checked', true);
            </script>
            }
            }
            }
            </div>*@
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 ">Từ ngày</label>
        <div class="col-sm-4">
            <nop-editor asp-for="Fromdate" />
            <br /><span asp-validation-for="Fromdate"></span>
        </div>
        <label class="col-form-label col-sm-2 ">Đến ngày</label>
        <div class="col-sm-4 ">
            <nop-editor asp-for="Todate" />
            <br /><span asp-validation-for="Todate"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Hiển thị tài sản của BQLDA</label>
        <div class="col-sm-4">

            @*<label class="custom-control custom-radio col-sm-3" style="margin-left:7px;">
            @Html.RadioButtonFor(c => c.LoaiDonViId, -1, new { @class = "custom-control-input", @id = "allLoaiDonvi" })
            <span class="custom-control-label"><small>Tất cả</small></span>
            </label>*@
            <label class="custom-control custom-checkbox col-sm-2" style="margin-left:7px;">
                @Html.CheckBoxFor(c => c.isCheckDonVi, new { @class = "custom-control-input" })
                <span class="custom-control-label"></span>
            </label>
        </div>
    </div>
    @if (Model.donviId == (int)enumDonVi.TRUNG_TAM_DU_LIEU_QUOC_GIA_VE_TS_CONG)
    {
        <div class="form-group row">
            <label class="col-form-label col-sm-2 ">Xem tài sản toàn quốc</label>
            <div class="col-sm-4">
                <label class="custom-control custom-checkbox col-sm-2" style="margin-left:7px;">
                    @Html.CheckBoxFor(c => c.isToanQuoc, new { @class = "custom-control-input" })
                    <span class="custom-control-label"></span>
                </label>
            </div>

        </div>
    }

    <div class="form-group row">
        <div class="row col-sm-4" style="margin:0px; padding:0px">
        </div>

        <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-primary" id="btnSearch" style="display:none;"></button>
        </div>
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-sm btn-danger" id="btnChuaTinh" value="false">Chưa Tính</button>
            <button type="button" class="btn btn-sm btn-success" id="btnDaTinh" value="true">Đã Tính</button>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10 d-flex align-items-center">
        <div class="tle1">
            <i class=" fas fa-list-ul mr-2"></i><span id="name-list">Danh sách tài sản chờ duyệt</span>
        </div>
    </div>
    <div class="col-sm-2 text-right">
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="items-grid"></div>
                    <script>
                        var record = 0;
                        $(document).ready(function () {
                            updateSpanList();
                            $("#allLoaiDonvi").prop("checked", true);
                            function SearchData() {
                                var is_checkL = $('input[name="@(Html.IdFor(c => c.LoaiDonViId))"]:checked').val();
                                var _arrayloaihinhtaisan = [];
                                //$("input[name='loaihinhtaisancheck']:checked").each(function () {
                                //    var _loaitaisanId = $(this).attr("id");
                                //    _arrayloaihinhtaisan.push(
                                //        _loaitaisanId,
                                //    );
                                //    console.log(_arrayloaihinhtaisan);
                                //});
                                let StringLoaiTaiSan = null;
                                if ($("#LoaiHinhTaiSanSelected").val()) {
                                    StringLoaiTaiSan = $("#LoaiHinhTaiSanSelected").val().join(',');
                                    if (StringLoaiTaiSan == "0") {
                                        StringLoaiTaiSan = "";
                                    }
                                }
                                var _data = {
                                    KeySearch: $('#@Html.IdFor(model => model.KeySearch)').val(),
                                    Fromdate: $('#@Html.IdFor(model => model.Fromdate)').val(),
                                    Todate: $('#@Html.IdFor(model => model.Todate)').val(),
                                    donviId: $('#@Html.IdFor(model => model.donviId)').val(),
                                    NguonTaiSanId: $('#@Html.IdFor(model => model.NguonTaiSanId)').val(),
                                    isCheckDonVi: $('input[name="@(Html.IdFor(c => c.isCheckDonVi))"]:checked').val(),
                                    //LoaiDonViId: $('#@Html.IdFor(model => model.LoaiDonViId)').val(),
                                    //LOAI_HINH_TAI_SAN_ID: $("input[name='LOAI_HINH_TAI_SAN_ID']:checked").val(),
                                    isHaoMon: $('#@Html.IdFor(model => model.isHaoMon)').val(),
                                    strLoaiHinhTSIds: StringLoaiTaiSan,
                                    isduoi500: $("input[name='isduoi500']:checked").val(),
                                    istren500: $("input[name='istren500']:checked").val(),
                                    isToanQuoc: $("input[name='isToanQuoc']:checked").val(),
                                };
                                addAntiForgeryToken(_data);
                                //console.log(_data);
                                return _data;
                            }
                            $("#btnSearch").click(function () {
                                if (checkdate()) {
                                    var grid = $('#items-grid').data('kendoGrid');
                                    record = 0;
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                }
                                return false;
                            });
                            $("#@Html.IdFor(model => model.KeySearch)").keydown(function (event) {
                                if (event.keyCode === 13) {
                                    $("#btnDaTinh").click();
                                    return false;
                                }
                            });
                            $("#btnDaTinh").click(function () {
                                if (checkdate()) {
                                    var _trangthaiId = $(this).val();
                                    $("#isHaoMon").val(_trangthaiId);
                                    var grid = $('#items-grid').data('kendoGrid');
                                    record = 0;
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    updateSpanList();
                                    grid.hideColumn("strLyDoTuChoi");
                                    grid.showColumn("tentrangthai");
                                    grid.showColumn("isTinhHaoMon");
                                }
                                return false;
                            });
                            $("#btnChuaTinh").click(function () {
                                if (checkdate()) {
                                    var _trangthaiId = $(this).val();
                                    $("#isHaoMon").val(_trangthaiId);
                                    var grid = $('#items-grid').data('kendoGrid');
                                    record = 0;
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    updateSpanList();
                                    grid.hideColumn("strLyDoTuChoi");
                                    grid.showColumn("tentrangthai");
                                    grid.showColumn("isTinhHaoMon");
                                }
                                return false;
                            });
                            var grid = $("#items-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("TraCuuTaiSan", "TaiSan"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: SearchData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    page: @(Model.Page),
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    input: true,
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                        @await Html.PartialAsync("_GridPagerMessages")
                                                        },
                            dataBinding: function () {
                                record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                            },
                            editable: {
                            confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                            mode: "inline"
                        },
                            scrollable: false,
                            columns: [
                        @*{
                            title: 'Select All',
                            headerTemplate: "<input type='checkbox' id='header-chb' class='k-checkbox  header-checkbox' ><label class='k-checkbox-label' style='margin-left: 3px;' for='header-chb'></label>",
                            template: function (dataItem) {
                            if (dataItem.TRANG_THAI_HAO_MON != @((int)GS.Core.Domain.TaiSans.enumTRANG_THAI_TAI_SAN.DA_DUYET) && dataItem.TRANG_THAI_HAO_MON != @((int)GS.Core.Domain.TaiSans.enumTRANG_THAI_TAI_SAN.CHO_DUYET)) {
                            return "<input type='checkbox' id='" + dataItem.ID + "' class='k-checkbox row-checkbox'><label class='k-checkbox-label' for='" + dataItem.ID + "'></label>";
                            }
                            else {
                            return "";
                            }
                            },
                            width: 50,
                            attributes: {
                            style: "text-align: center;"
                            },
                            },*@
                            {
                                title: "STT",
                                template: "#= ++record #",
                                width: 50,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                            },
                            {
                                field: "MA",
                                title: "Mã tài sản",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "white-space: nowrap" },
                                template: function (dataItem) {
                                    var viewMA = `<div class="d-flex justify-content-start">`;
                                    if (dataItem.IsTinhHaoMon) {
                                        viewMA += `<div data-toggle="tooltip" data-placement="top" title="Tài Sản đã tính Hao Mòn"><i class="far fa-check-circle mr-1" style="color: #0557e6;"></i></div>`;
                                    }
                                    viewMA += `<span>` + dataItem.MA + `</span>`;
                                    viewMA += `</div>`;
                                    return viewMA;
                                },
                            },
                            {
                                field: "TEN",
                                title: "Tên tài sản",
                                headerAttributes: { style: "text-align:center;max-width: 250px;" },
                            },
                            {
                                field: "TenLoaiTaiSan",
                                title: "Loại tài sản",
                                headerAttributes: { style: "text-align:center;max-width: 250px;" },
                                attributes: { style: "max-width: 250px" }
                            },
                            {
                                field: "strNguyenGiaVN",
                                title: "Nguyên giá",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align: right" }
                            },
                            { field: "TenDonVi", title: "Đơn vị được giao SD", headerAttributes: { style: "text-align:center" } },
                            {
                                field: "NGAY_SU_DUNG",
                                title: "Ngày sử dụng",
                                type: "Date",
                                format: "{0:dd/MM/yyyy}",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                            },
                            {
                                field: "tentrangthai",
                                title: "Trạng thái",
                                headerAttributes: { style: "text-align:center" },
                                hidden: true,
                            },
                            {
                                field: "strLyDoTuChoi",
                                title: "LD từ chối",
                                headerAttributes: { style: "text-align:center" },
                                hidden: true,
                            },
                            {
                                field: "ID",
                                title: "Thao tác",
                                width: 60,
                                headerAttributes: { style: "text-align:center; max-width:150px" },
                                attributes: { style: "text-align:center" },
                                template: function (dataItem) {
                                    var viewtaisan = "<button class='btn btn-sm btn-outline-info' Onclick='OpenViewTaiSan(&#39;" + dataItem.GUID + "&#39;,&#39;" + dataItem.MA + "&#39;)' title='Xem'>Xem</button>";
                                    var chotHm = "<button class='btn btn-sm btn-outline-warning' Onclick='ChotLaiHaoMon(&#39;" + dataItem.MA + "&#39;)' title='Chốt hao mòn'>Hao Mòn</button>";
                                    if (dataItem.TRANG_THAI_HAO_MON == @((int)GS.Core.Domain.TaiSans.enumTRANG_THAI_TAI_SAN.DA_DUYET) ||
                                        dataItem.TRANG_THAI_HAO_MON == @((int)GS.Core.Domain.TaiSans.enumTRANG_THAI_TAI_SAN.DA_DUYET_GIAM_TOAN_BO)) {
                                        return viewtaisan + "&nbsp;" + chotHm;
                                    }
                                    return viewtaisan;
                                }
                            }
                        ]
                                                    }).data("kendoGrid");
                        $('#header-chb').change(function (ev) {
                            var checked = ev.target.checked;
                            $('.row-checkbox').each(function (idx, item) {
                                if (checked) {
                                    if (!($(item).closest('tr').is('.k-state-selected'))) {
                                        $(item).click();
                                    }
                                } else {
                                    if ($(item).closest('tr').is('.k-state-selected')) {
                                        $(item).click();
                                    }
                                }
                            });
                        });
                                                });
                        //function open popup xem thông tin tài sản
                        function ChotLaiHaoMon(tsMa) {
                            bootbox.confirm({
                                message: "Xác nhận chốt lại hao mòn?",
                                className: 'bootbox-sm',
                                buttons: {
                                    confirm: {
                                        label: 'Đồng ý',
                                    },
                                    cancel: {
                                        label: 'Hủy',
                                    },
                                },
                                callback: function (result) {
                                    if (result) {
                                        var _data = {
                                            maTS: tsMa
                                        }
                                        $.ajax({
                                            url: "/TaiSan/ChotHaoMon",
                                            type: "POST",
                                            data: _data,
                                            success: function (data) {
                                                if (data.Code == "00") {
                                                    ShowSuccessMessage(data.Message);
                                                } else {
                                                    ShowErrorMessage(data.Message);
                                                }
                                            },
                                            error: function (xhr, ajaxOptions, thrownError) {
                                                alert(thrownError);
                                            },
                                        })
                                    }
                                },
                            });
                        }
                        function OpenViewTaiSan(guid, tsMa) {
                            var _url = "@(Url.Action("_ViewThongTinTaiSan", "TaiSan"))?guid=" + guid + "&isTraCuu=true";
                            var titlePopup = "Thông tin tài sản mã: " + tsMa;
                            OpenModalManual(titlePopup, _url, 70);
                        }
                        function checkdate() {
                            var check = true;
                            if (!checkValidateDateFormat("#@Html.IdFor(c=>c.Fromdate)", "@Html.IdFor(c=>c.Fromdate)", "Sai định dạng ngày")) {
                                check = false;
                            }
                            if (!checkValidateDateFormat("#@Html.IdFor(c=>c.Todate)", "@Html.IdFor(c=>c.Todate)", "Sai định dạng ngày")) {
                                check = false;
                            }
                            if (!checkValidateFromDateToDate("#@Html.IdFor(c=>c.Fromdate)", "#@Html.IdFor(c=>c.Todate)", "@Html.IdFor(c=>c.Fromdate)", "Ngày bắt đầu phải bé hơn ngày kết thúc")) {
                                check = false;
                            }
                            if ($("#@Html.IdFor(c=>c.Fromdate)").val() == "" || $("#@Html.IdFor(c=>c.Fromdate)").val() == undefined) {
                                hideValmsg("@Html.IdFor(c=>c.Fromdate)");
                            }
                            if ($("#@Html.IdFor(c=>c.Todate)").val() == "" || $("#@Html.IdFor(c=>c.Todate)") == undefined) {
                                hideValmsg("@Html.IdFor(c=>c.Todate)");
                            }
                            return check;
                        }
                        function updateSpanList() {
                            var IsHaoMon = $("#isHaoMon").val();
                            if (IsHaoMon == 'true') {
                                $("#name-list").text("Danh sách tài sản đã tính hao mòn");
                                $(".tle1").css("color", "#2673b4");
                            }else{
                                $("#name-list").text("Danh sách tài sản chưa tính hao mòn");
                                $(".tle1").css("color", "#d9534f");
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        let loaiTaiSanMultiselect = $('#LoaiHinhTaiSanSelected').data("kendoMultiSelect");
        if (loaiTaiSanMultiselect) {
            loaiTaiSanMultiselect.bind('change', () => {
                //khi chọn loại hình là tất cả thì clear selected chỉ chọn tất cả
                let items = loaiTaiSanMultiselect.value();
                for (var i = 0; i < items.length; i++) {
                    if (items[i] == "@((int)enumLOAI_HINH_TAI_SAN.ALL)") {
                        loaiTaiSanMultiselect.value(["@((int)enumLOAI_HINH_TAI_SAN.ALL)"]);
                        return;
                    }
                }
            })
        }

    })
</script>