@model TaiSanTdModel

    <div class="gs-form-group" id="div_@Model.GUID">
        <h6 class="stt_ts">Tài sản</h6>
        <div class="form-group row" style="display:none">
            <label class="col-form-label col-sm-2 text-sm-left">GUID:</label>
            <div class="col-sm-4">
                <nop-editor asp-for="GUID" asp-class="LoadTaiSan" />
                <span asp-validation-for="GUID"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <a class="btn btn-xs btn-outline-danger" href="javascript:void(0)" onclick="XoaViewTaiSan('@Model.GUID')" style="float:right">Xóa</a>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-left text-required " data-id="TEN_@Model.GUID" data-guid="@Model.GUID">Tên:</label>
            <div class="col-sm-4">
                <nop-editor asp-for="TEN" id="TEN_@Model.GUID" />
                <span asp-validation-for="TEN" id="VALI_TEN_@Model.GUID"></span>
            </div>
            <label class="col-form-label col-sm-2 text-sm-left text-required" data-id="LOAI_TAI_SAN_ID_@Model.GUID" data-guid="@Model.GUID">Loại tài sản:</label>
            <div class="col-sm-4">
                <nop-select asp-for="LOAI_TAI_SAN_ID" asp-items="@Model.DDLLoaiTaiSan" asp-filter="true" id="LOAI_TAI_SAN_ID_@Model.GUID" />
                <span asp-validation-for="LOAI_TAI_SAN_ID" id="VALI_LOAI_TAI_SAN_ID_@Model.GUID"></span>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-left text-required" data-id="NGUON_GOC_TAI_SAN_ID_@Model.GUID" data-guid="@Model.GUID">Nguồn gốc tài sản:</label>
            <div class="col-sm-4">
                <nop-select asp-for="NGUON_GOC_TAI_SAN_ID" asp-items="Model.DDLNguonGocTaiSan" asp-filter="true" id="NGUON_GOC_TAI_SAN_ID_@Model.GUID" />
                <span asp-validation-for="NGUON_GOC_TAI_SAN_ID" id="VALI_NGUON_GOC_TAI_SAN_ID_@Model.GUID"></span>
                <script>
                    $(document).ready(function () {
                    $("#LOAI_TAI_SAN_ID_@Model.GUID").kendoDropDownList({
                        dataTextField: "Text",
                        dataValueField: "Value",
                        filter: "contains",
                        template: function (e) {
                            if (e.Disabled) {
                                return '<span class="k-state-default" style="color: red;">' + e.Text + '</span>';
                            } else {
                                return '<span class="k-state-default">' + e.Text + '</span>';
                            }
                        },
                        select: function (e) {
                            if (e.dataItem.Disabled) {
                                e.preventDefault();
                            }
                        },
                        dataSource: DDL,
                    }).data("kendoDropDownList");
                });
                </script>
            </div>
            <label class="col-form-label col-sm-2 text-sm-left">Diện tích:</label>
            <div class="col-sm-4">
                <nop-editor asp-for="GIA_TRI_TINH" id="GIA_TRI_TINH_@Model.GUID" />
                <span asp-validation-for="LOAI_TAI_SAN_ID" id="VALI_DIEN_TICH_@Model.GUID"></span>
            </div>
        </div>
        @*<div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-left  text-required " data-id="NGUYEN_GIA_@Model.GUID" data-guid="@Model.GUID">Nguyên giá:</label>
            <div class="col-sm-4">
                <nop-editor asp-for="NGUYEN_GIA" id="NGUYEN_GIA_@Model.GUID" />
                <span asp-validation-for="NGUYEN_GIA" id="VALI_NGUYEN_GIA_@Model.GUID"></span>
            </div>
            <label class="col-form-label col-sm-2 text-sm-left  text-required " data-id="GIA_TRI_@Model.GUID" data-guid="@Model.GUID">Giá trị:</label>
            <div class="col-sm-4">
                <nop-editor asp-for="GIA_TRI" id="GIA_TRI_@Model.GUID" />
                <span asp-validation-for="GIA_TRI" id="VALI_GIA_TRI_@Model.GUID"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-left  text-required " data-id="SO_LUONG_@Model.GUID" data-guid="@Model.GUID">Số lượng:</label>
            <div class="col-sm-4">
                <nop-editor asp-for="SO_LUONG" id="SO_LUONG_@Model.GUID" />
                <span asp-validation-for="SO_LUONG" id="VALI_SO_LUONG_@Model.GUID"></span>
            </div>
            <label class="col-form-label col-sm-2 text-sm-left" data-guid="@Model.GUID">Khối lượng:</label>
            <div class="col-sm-4">
                <nop-editor asp-for="KHOI_LUONG" id="KHOI_LUONG_@Model.GUID" />
                <span asp-validation-for="KHOI_LUONG" id="VALI_KHOI_LUONG_@Model.GUID"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-left" data-guid="@Model.GUID">Ghi chú:</label>
            <div class="col-sm-10">
                <nop-editor asp-for="GHI_CHU" id="GHI_CHU_@Model.GUID" />
                <span asp-validation-for="GHI_CHU" id="VALI_GHI_CHU_@Model.GUID"></span>
            </div>
        </div>
            *@
        <script>
            $(document).ready(function () {
                $("#NGUON_GOC_TAI_SAN_ID_@Model.GUID").kendoDropDownList({
                    dataTextField: "Text",
                    dataValueField: "Value",
                    filter: "contains",
                    template: function (e) {
                        if (e.Disabled) {
                            return '<span class="k-state-default" style="color: red;">' + e.Text + '</span>';
                        } else {
                            return '<span class="k-state-default">' + e.Text + '</span>';
                        }
                    },
                    select: function (e) {
                        if (e.dataItem.Disabled) {
                            e.preventDefault();
                        }
                    },
                    dataSource: JSON.parse(String.raw`@Html.Raw(((Model.DDLNguonGocTaiSan).toStringJson()))`),
                }).data("kendoDropDownList");
                $("#NGUON_GOC_TAI_SAN_ID_@Model.GUID").data("kendoDropDownList").value(@Model.NGUON_GOC_TAI_SAN_ID);
                $("#LOAI_TAI_SAN_ID_@Model.GUID").data("kendoDropDownList").value(@Model.LOAI_TAI_SAN_ID);
                DanhSttTS();
            });
        </script>
    </div>
