@model QuyetDinhTichThuSearchModel
@{
    //page title
    ViewBag.Title = "Duyệt quyết định tịch thu/ xác lập tài sản ";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("DuyetQuyetDinhTichThuTSTD");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h5 class="pull-left">
        @ViewBag.Title
    </h5>
    <div class="pull-right" style="margin-bottom:5px;">
    </div>
</div>
<input asp-for="KeySearch" hidden />
<div class="ui-bordered px-4 pt-4 mb-4">
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left text-required">Loại quyết định:</label>
        <div class="col-sm-6">
            <div class="custom-controls-stacked row" style="margin-top: 7px;margin-left: 0px;">
                <label class="custom-control custom-radio col-sm-3" style="margin-left:7px;">
                    @Html.RadioButtonFor(c => c.is_tichthu,"null", new { @class = "custom-control-input", @id ="allQuyetDinh" })
                    <span class="custom-control-label"><small>Tất cả</small></span>
                </label>
                <label class="custom-control custom-radio col-sm-3" style="margin-left:7px;">
                    @Html.RadioButtonFor(c => c.is_tichthu, true, new { @class = "custom-control-input" })
                    <span class="custom-control-label"><small>QĐ tịch thu</small></span>
                </label>
                <label class="custom-control custom-radio col-sm-3">
                    @Html.RadioButtonFor(c => c.is_tichthu, false, new { @class = "custom-control-input" })
                    <span class="custom-control-label"><small>QĐ xác lập</small></span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left">Số QĐ tịch thu/xác lập:</label>
        <div class="col-sm-4">
            <nop-editor asp-for="SoQuyetDinh" />
        </div>
        <label class="col-form-label col-sm-2 text-sm-left">Từ ngày</label>
        <div class="col-sm-4">
            <nop-editor asp-for="NgayQuyetDinhTu" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left">Loại tài sản</label>
        <div class="col-sm-4">
            <nop-select asp-for="LoaiHinhTaiSanId" asp-items="@Model.DDLLoaiHinhTaiSan" asp-filter="true" />
        </div>
        <label class="col-form-label col-sm-2 text-sm-left">Đến ngày</label>
        <div class="col-sm-4">
            <nop-editor asp-for="NgayQuyetDinhDen" />
            <span asp-validation-for="NgayQuyetDinhDen"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left">Nguồn gốc</label>
        <div class="col-sm-4">
            <nop-select asp-for="NguonGocTaiSanId" asp-items="@Model.DDLNguonGocTaiSan" asp-filter="true" />
        </div>
        <label class="col-form-label col-sm-2 text-sm-left">Trạng thái</label>
        <div class="col-sm-2">
            <nop-select asp-for="TrangThaiId" asp-items="@Model.DDLTrangThai" asp-filter="true" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-5">
        </div>
        <div class="col-md-6">
            <div class="col-sm-6"></div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-sm btn-primary" id="btnSearch">Tìm kiếm</button>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10 d-flex align-items-center">
        <div class="tle1">
            <i class=" fas fa-list-ul mr-2"></i><span id="name-list">Danh sách quyết định tịch thu/ xác lập tài sản</span>
        </div>
    </div>
    <div class="col-sm-2 text-right">
        <button type="button" class="btn btn-outline-success" style="display:none;" id="btnDuyetAll">Duyệt tất cả</button>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="items-grid"></div>
                    <script>
                        kendo.culture("vi-VN");
                        var record = 0;
                        var recordChildren = 0;
                        $(document).ready(function () {
                            $("#allQuyetDinh").prop("checked", true);
                            function SearchData() {
                                var is_tichthu = $('input[name="@(Html.IdFor(c=>c.is_tichthu))"]:checked').val();
                                if (is_tichthu == 'null') {
                                    is_tichthu = null;
                                }
                                var _data = {
                                    KeySearch: $('#@Html.IdFor(model => model.KeySearch)').val(),
                                    SoQuyetDinh: $('#@Html.IdFor(model => model.SoQuyetDinh)').val(),
                                    NgayQuyetDinhTu: $('#@Html.IdFor(model => model.NgayQuyetDinhTu)').val(),
                                    NgayQuyetDinhDen: $('#@Html.IdFor(model => model.NgayQuyetDinhDen)').val(),
                                    LoaiHinhTaiSanId: $('#@Html.IdFor(model => model.LoaiHinhTaiSanId)').val(),
                                    NguonGocTaiSanId: $('#@Html.IdFor(model => model.NguonGocTaiSanId)').val(),
                                    TrangThaiId: $('#@Html.IdFor(model => model.TrangThaiId)').val(),
                                    is_tichthu: is_tichthu,
                                };
                                addAntiForgeryToken(_data);
                                return _data;
                            }
                            $("#btnSearch").click(function () {
                                if (checkValiNgay()) {
                                    record = 0;
                                    GetTenList();
                                    var grid = $('#items-grid').data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    return false;
                                }
                            });
                            $("#@Html.IdFor(model => model.KeySearch)").keydown(function (event) {
                                if (event.keyCode === 13) {
                                    $("#btnSearch").click();
                                    return false;
                                }
                            });
                            var grid = $("#items-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("ListDuyetQuyetDinh", "QuyetDinhTichThu"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: SearchData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                dataBinding: function () {
                                    record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                                },
                                editable: {
                                    confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                                    mode: "inline"
                                },
                                detailInit: detailInit,
                                scrollable: false,
                                columns: [
                                    {
                                        title: "STT",
                                        template: "#= ++record #",
                                        width: 50,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                    },
                                    {
                                        field: 'TEN', title: 'Tên quyết định/ vụ việc',
                                        headerAttributes: { style: "text-align:center" },
                                        template: '<a href="/QuyetDinhTichThu/Edit?id=#=ID#">#=TEN#</a>'
                                    },
                                    {
                                        field: 'QUYET_DINH_SO', title: 'Số quyết định',
                                        headerAttributes: { style: "text-align:center" }
                                    },
                                    {
                                        field: 'QUYET_DINH_NGAY', title: 'Ngày quyết định', template: "#= kendo.toString(kendo.parseDate(QUYET_DINH_NGAY, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center;" }
                                    },
                                    {
                                        field: 'TenNguonGoc', title: 'Nguồn gốc tài sản',
                                        headerAttributes: { style: "text-align:center" }
                                    },
                                    {
                                        field: 'CO_QUAN_BAN_HANH_TEN', title: 'Thuộc Bộ/Tỉnh',
                                        headerAttributes: { style: "text-align:center" }
                                    },
                                    {
                                        field: "ID",
                                        title: "Thao tác",
                                        width: 150,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center;" },
                                        template: kendo.template($("#btn_template_parent").html())
                                    },
                                    {
                                        title: 'Select All',
                                        headerTemplate: "<input type='checkbox' id='header-chb' class='k-checkbox  header-checkbox' ><label class='k-checkbox-label' style='margin-left: 3px;' for='header-chb'></label>",
                                        template: function (dataItem) {
                                            //if (dataItem.isCanDuyet) {
                                            return "<input type='checkbox' id='" + dataItem.ID + "' class='k-checkbox row-checkbox'><label class='k-checkbox-label' for='" + dataItem.ID + "'></label>";
                                            //}
                                            //else {
                                            //    return "";
                                            //}
                                        },
                                        width: 50,
                                        attributes: {
                                            style: "text-align: center;"
                                        },
                                    },
                                ]
                            }).data("kendoGrid");
                            function detailInit(e) {
                                recordChildren = 0
                                $('tr[data-uid="' + e.masterRow[0].dataset.uid + '"]').addClass("row-class");
                                var data = {
                                    QuyetDinhId: e.data.ID,
                                };
                                addAntiForgeryToken(data);
                                $("<div/>").appendTo(e.detailCell).kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("List", "TaiSanTd"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: data
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            this.cancelChanges();
                                        },
                                        pageSize: @(Model.PageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(Model.AvailablePageSizes)],
                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    dataBinding: function () {
                                        recordChildren = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                                    },
                                    editable: {
                                        confirmation: "Bạn có chắc chắn xóa chỉ tiêu này không",
                                        mode: "inline"
                                    },

                                    scrollable: false,
                                    columns: [
                                        {
                                            title: "STT",
                                            template: "#= ++recordChildren #",
                                            width: 50,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                        },
                                        {
                                            field: 'TEN', title: 'Tên tài sản',
                                            headerAttributes: { style: "text-align:center" }
                                        },
                                        {
                                            field: 'TEN_LOAI_TAI_SAN', title: 'Loại tài sản',
                                            headerAttributes: { style: "text-align:center" }
                                        },
                                        {
                                            field: 'GiaTri', title: 'Tổng giá trị tịch thu/ xác lập',
                                            format: "{0:n3}",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:right;" }
                                        },
                                        {
                                            field: 'GIA_TRI_TINH', title: 'Số lượng/ Khối lượng/ Diện tích',
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:right;" },
                                            format: "{0:n3}",
                                            template: kendo.template($("#btn_template_soluong").html())
                                        },
                                        //,{
                                        //    title: "Thao tác",
                                        //    width: 150,
                                        //    headerAttributes: { style: "text-align:center" },
                                        //    attributes: { style: "text-align:center;" },
                                        //    template: kendo.template($("#btn_template_childent").html())
                                        //}
                                    ]
                                });
                            };

                            //bind click event to the checkbox
                            grid.table.on("click", ".row-checkbox", selectRow);
                            $('#header-chb').change(function (ev) {
                                var checked = ev.target.checked;
                                $('.row-checkbox').each(function (idx, item) {
                                    if (checked) {
                                        if (!($(item).closest('tr').is('.k-state-selected'))) {
                                            $(item).click();
                                        }
                                    } else {
                                        if ($(item).closest('tr').is('.k-state-selected')) {
                                            $(item).click();
                                        }
                                    }
                                });
                            });
                            // duyet nhieu tai san
                            $("#btnDuyetAll").click(function () {
                                var allSelected = $("#items-grid tr.k-state-selected");
                                var allSelectedModels = [];
                                var strTaiSanId = "";
                                $.each(allSelected, function (e) {
                                    var row = $(this);
                                    var grid = row.closest(".k-grid").data("kendoGrid");
                                    var dataItem = grid.dataItem(row);
                                    allSelectedModels.push(dataItem.ID);
                                });
                                strTaiSanId = allSelectedModels.join(",");
                                DuyetQuyetDinhTichThu(strTaiSanId);
                                //bỏ tích check all
                                $('#header-chb').prop('checked', false)
                                $('#header-chb').change()
                            });
                        });
                            	//lấy đơn id khi check box checked
						var checkedIds = {};
							//on click of the checkbox:
						function selectRow() {
								var checked = this.checked,
									row = $(this).closest("tr"),
									grid = $("#items-grid").data("kendoGrid"),
									dataItem = grid.dataItem(row);
								checkedIds[dataItem.ID] = checked;
                            if (checked) {
                                //-select the row
                                row.addClass("k-state-selected");
                                var checkHeader = true;
                                var ListItem = [];
                                var ind = 0;
                                $.each(grid.items(), function (index, item) {
                                    if ($(item.cells[0].firstChild).hasClass("k-checkbox")) {
                                        ListItem.push(item);
                                    }
                                });
                                for (var i = 0; i < ListItem.length; i++) {
                                    if (!$(ListItem[i]).hasClass("k-state-selected")) {
                                        checkHeader = false;
                                        break;
                                    }
                                }
                                $("#header-chb")[0].checked = checkHeader;
                                $("#btnDuyetAll").show();
                                $("#btnHuyDuyetAll").show();
                            }else {
									//-remove selection
									row.removeClass("k-state-selected");
									$("#header-chb")[0].checked = false;
									var allSelected = $("#items-grid tr.k-state-selected");
									if (allSelected.length > 0) {
										let TrangThaiId = $('#TRANG_THAI_ID').val();
										if (TrangThaiId) {
											if (TrangThaiId == @((int)enumTRANG_THAI_TAI_SAN.CHO_DUYET)) {
												$("#btnDuyetAll").show();
												$("#btnHuyDuyetAll").text('Từ chối tất cả');
												$("#btnHuyDuyetAll").show();
											}
											else if (TrangThaiId == @((int)enumTRANG_THAI_TAI_SAN.DA_DUYET) ||
												TrangThaiId == @((int)enumTRANG_THAI_TAI_SAN.DA_DUYET_GIAM_TOAN_BO)) {
												$("#btnDuyetAll").hide();
												$("#btnHuyDuyetAll").text('Bỏ duyệt tất cả');
												$("#btnHuyDuyetAll").show();
											}
											else if (TrangThaiId == @((int)enumTRANG_THAI_TAI_SAN.CHO_DUYET)) {
												$("#btnDuyetAll").hide();
												$("#btnHuyDuyetAll").text('Từ chối tất cả');
												$("#btnHuyDuyetAll").hide();
											}
										}
										else {
											$("#btnDuyetAll").show();
											$("#btnHuyDuyetAll").show();
										}

									} else {
										$("#btnDuyetAll").hide();
										$("#btnHuyDuyetAll").hide();
									}
								}
							}
                        $(".k-hierarchy-cell").click(function () { console.log(this) });
                        function DuyetQuyetDinhTichThu(strListQuyetDinhID) {
                            bootbox.confirm({
                                message: "Bạn có chắc chắn duyệt không?",
                                className: 'bootbox-sm',
                                buttons: {
                                    confirm: {
                                        label: 'Đồng ý',
                                    },
                                    cancel: {
                                        label: 'Hủy',
                                    },
                                },
                                callback: function (result) {
                                    if (result) {
                                        var _data = {
                                            strListQuyetDinhID: strListQuyetDinhID,
                                        }
                                        $.ajax({
                                            cache: false,
                                            type: "POST",
                                            data: _data,
                                            url: "/QuyetDinhTichThu/DuyetListQuyetDinh",
                                            success: function (msg) {
                                                if (msg.Code == "00") {
                                                    ShowSuccessMessage(msg.Message);
                                                    var grid = $('#items-grid').data('kendoGrid');
                                                    if (grid)
                                                        grid.dataSource.page(grid.dataSource.page());
                                                    //location.href = '/TaiSan/ListYeuCauDuyetTaiSan';
                                                }
                                                else {
                                                    ShowErrorMessage(msg.Message);
                                                }
                                            },
                                            error: function (xhr, ajaxOptions, thrownError) {
                                                alert(thrownError);
                                            },
                                            traditional: true
                                        });
                                    }
                                },
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .k-grid tr.k-state-selected > td {
        background-color: #e9fffd !important;
    }

    .row-class {
        background-color: aliceblue !important;
    }
</style>
<script type="text/x-kendo-template" id="btn_template_soluong">
    #=kendo.toString(GIA_TRI_TINH,"n2") + ' (' + DON_VI_TINH#)
</script>
<script type="text/x-kendo-template" id="btn_template_parent">
    #if(TRANG_THAI_ID == @((int)GS.Core.Domain.SHTD.QuyetDinhTichThu.enumTRANGTHAI_QUYETDINH_TSTD.CHO_DUYET)){#
    <div class="btn-group">
        <a class="btn btn-sm btn-outline-primary" href="javascript:void(0)" onclick=Duyet('#:GUID#')>Duyệt</a>
        <a class="btn btn-sm btn-outline-danger" href="javascript:void(0)" onclick=TuChoi('#:GUID#')>Từ chối</a>
    </div>
    #}
    else if(TRANG_THAI_ID == @((int)GS.Core.Domain.SHTD.QuyetDinhTichThu.enumTRANGTHAI_QUYETDINH_TSTD.DUYET) && is_boduyet == true){#
      <div class="btn-group">
        <a class="btn btn-sm btn-outline-danger" href="javascript:void(0)" onclick=BoDuyet('#:GUID#')>Bỏ duyệt</a>
    </div>
    #}
    else
    {#

    #}#
</script>
<script type="text/x-kendo-template" id="btn_template_childent">
    #if(is_delete){#
    <div class="btn-group">
        <a class="btn btn-sm btn-outline-secondary" href="/QuyetDinhTichThu/Edit?id=#=ID#">Sửa</a>
    </div>
    #}else
    {##}#
</script>
<script type="text/x-kendo-template" id="loaitaisan">
    <span data-toggle="tooltip" data-placement="top" data-state="primary" data-original-title="#:TenLoaiHinhTaiSan#">#:TenLoaiTaiSan#</span>
</script>
<script>
    $(document).ready(function () {
        GetTenList();
        LoadNguonGoc(0);
    });
    function LoadNguonGoc(ID) {
        var _data = {
            NguonGocID: $("#@(Html.IdFor(c=>c.NguonGocTaiSanId))").val(),
            isTichThu: $('input[name="@(Html.IdFor(c=>c.is_tichthu))"]:checked').val(),
            isDisable:false,
        }
        $.ajax({
            type: "GET",
            data: _data,
            url: "/QuyetDinhTichThu/GetNguonGoc",
            success: function (data) {
                var ddl = $("#NguonGocTaiSanId").data("kendoDropDownList");
                ddl.setDataSource(data);
                ddl.value(ID);
                ddl.select(ID);
            }
        });
    }
    $('input[type=radio][name=@(Html.IdFor(c=>c.is_tichthu))]').on('change', function () {
        LoadNguonGoc(0);
    });
    function GetTenList() {
        var TrangThaiId = $("#@Html.IdFor(c=>c.TrangThaiId)").val();
        if (TrangThaiId == @((int)GS.Core.Domain.SHTD.QuyetDinhTichThu.enumTRANGTHAI_QUYETDINH_TSTD.CHO_DUYET)) {
            $("#name-list").text("Danh sách quyết định tịch thu/ xác lập tài sản chờ duyệt")
        }
        else {
            $("#name-list").text("Danh sách quyết định tịch thu/ xác lập tài sản đã duyệt")
        }
    }
    function Duyet(Guid) {
        bootbox.confirm({
            message: "Bạn có chắc chắn duyệt quyết định này?",
            buttons: {
                confirm: {
                    label: '@T("admin.common.yes")',
                },
                cancel: {
                    label: '@T("admin.common.no")',
                },
            },
            //required: true,
            //placeholder: "Lý do từ chối tài sản(*)",
            callback: function (confirm) {
                if (confirm) {
                    var data = {
                        Guid: Guid
                    }
                    $.ajax({
                        type: "POST",
                        data: data,
                        url: "/QuyetDinhTichThu/Duyet",
                        success: function (result) {
                            if (result) {
							    if (result.Code == '00') {
                                    ShowSuccessMessage(result.Message);
									 $("#btnSearch").click();
                                }
                                else {
								    ShowErrorMessage(result.Message);
                                }
							}
                        }
                    })
                }
                return;

            }
        })
        }
    function BoDuyet(Guid) {
        bootbox.prompt({
            title: "Bạn có chắc chắn Bỏ duyệt quyết định này?",
            buttons: {
                confirm: {
                    label: '@T("admin.common.yes")',
                },
                cancel: {
                    label: '@T("admin.common.no")',
                },
            },
            required: true,
            placeholder: "Lý do Bỏ duyệt quyết định này(*)",
            callback: function (_Note) {
                if (_Note !== null) {
                    if (_Note !== '') {
                        let _data = {
                            Guid: Guid,
                            LyDo: _Note,
                        }
                        $.ajax({
                            type: "POST",
                            data: _data,
                            url: "/QuyetDinhTichThu/BoDuyet",
                            success: function (result) {
                                if (result) {
                                    if (result.Code == '00') {
                                        ShowSuccessMessage(result.Message);
                                         $("#btnSearch").click();
                                    }
                                    else {
                                        ShowErrorMessage(result.Message);
                                    }
                                }
                            }
                        })

                        return;
                    }
                    else {
                        ShowErrorMessage("Bắt buộc phải nhập lý do.");
                        return false;
                    }
                }
                return;
            }
        })
    };
    function TuChoi(Guid) {
        bootbox.prompt({
            title: "Bạn có chắc chắn Từ chối quyết định này?",
            buttons: {
                confirm: {
                    label: '@T("admin.common.yes")',
                },
                cancel: {
                    label: '@T("admin.common.no")',
                },
            },
            required: true,
            placeholder: "Lý do Từ chối quyết định này(*)",
            callback: function (_Note) {
                if (_Note !== null) {
                    if (_Note !== '') {
                        let _data = {
                            Guid: Guid,
                            LyDo: _Note,
                        }
                        $.ajax({
                            type: "POST",
                            data: _data,
                            url: "/QuyetDinhTichThu/TuChoi",
                            success: function (result) {
                                if (result) {
                                    if (result.Code == '00') {
                                        ShowSuccessMessage(result.Message);
                                         $("#btnSearch").click();
                                    }
                                    else {
                                        ShowErrorMessage(result.Message);
                                    }
                                }
                            }
                        })

                        return;
                    }
                    else {
                        ShowErrorMessage("Bắt buộc phải nhập lý do.");
                        return false;
                    }
                }
                return;
            }
        })
    }
    function checkValiNgay() {
        var check = true;
        hideAllValmsg();
        if (!checkValidateDateFormat("#NgayQuyetDinhTu", "NgayQuyetDinhTu", "Nhập sai định dạng ngày")) {
            check = false;
        }
        if (!checkValidateDateFormat("#NgayQuyetDinhDen", "NgayQuyetDinhDen", "Nhập sai định dạng ngày")) {
            check = false;
        }
        if (!checkValidateFromDateToDate("#NgayQuyetDinhTu", "#NgayQuyetDinhDen", "NgayQuyetDinhTu", "Ngày quyết định từ phải nhỏ hơn ngày quyết định đến")) {
            check = false;
        }
        return check;
    }
</script>
